[2021-08-23 16:11] SherifNagy commented on #194
Thanks @julian-klode

[2021-08-24 01:26] #192 closed

[2021-08-24 01:26] haobinnan commented on #192
complete

[2021-08-24 02:57] haobinnan opened #202 "shim-15.4 for Isoo (2022-02-05)"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
https://github.com/haobinnan/shim-review/tree/isoo-shim-20220205
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE

[2021-08-24 03:00] haobinnan commented on #202
My previously accepted SHIM:
#192

[2021-08-24 03:01] haobinnan commented on #202
Can the submission be reviewed
@steve-mcintyre

[2021-08-24 05:18] bitraser commented on #175
@steve-mcintyre
Kindly review the submission and suggest if any changes are required.

[2021-08-25 03:58] haobinnan commented on #202
The shim submitted this time uses patches provided by Debian and adds blacklist dbx.

[2021-08-31 10:50] #191 closed

[2021-09-02 12:12] SherifNagy commented on #194
Any time estimates regarding this review?

[2021-09-08 08:35] EgoSecure commented on #199
@steve-mcintyre @julian-klode
Can the submission be reviewed? We need new fixes to solve the problem of our customers.

[2021-09-10 15:36] mbearup opened #203 "Shim 15.4 for CBL-D"
Make sure you have provided the following information:

https://github.com/mbearup/shim-review/tree/cbld-shim-amd64-20210909
https://github.com/mbearup/shim

 - [ ] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [ ] completed README.md file with the necessary information
 - [ ] shim.efi to be signed
 - [ ] public portion of your certificate(s) embedded in shim

[2021-09-10 17:07] frozencemetery commented on #203
Hi, the lines at the start of the template are intended as a checklist.  It appears you haven't filled any of them out - could you please do so?  (Change from `- [ ]` to `- [x]` when done.)

[2021-09-13 17:41] pnardini opened #204 "Shim 15.4 + Critical Patches for Chrome OS (reven board)"
Make sure you have provided the following information:

 - [ ] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
[google/shim-review@google-shim-20210913-2](https://chromium.googlesource.com/external/github.com/neverware/shim-review/+/refs/tags/google-shim-20210913-2)
 - [ ] completed README.md file with the necessary information
 - [ ] shim.efi to be signed
 - [ ]

[2021-09-13 18:47] julian-klode commented on #204
So I think we'd prefer to have one ChromeOS shim, and not one per board as this review says, because shim reviews don't scale well, so if the number of boards scales up, that'd be bad.

[2021-09-13 18:57] pnardini commented on #204
The intent is for this shim to be the shim that other boards would use if needed.  We specifically called out the reven board here as it is the first (and currently only) board to require a shim.

[2021-09-14 07:42] tSU-RooT commented on #189
Hi, we are waiting to accept our shim.
Is there anything else to do get OK from the reviewer?

[2021-09-14 09:33] julian-klode commented on #204
It's fine just wanted to make sure

[2021-09-14 13:50] frozencemetery commented on #204
google/shim-review@google-shim-20210913-2

It's easier to work with when this is a single repo (e.g., just a github fork).  The link appears to be a googlesource mirror (?) of a https://github.com/neverware/shim-review .  However, at that location there is no tag google-shim-20210913-2.  Instead, the last tag is google-shim-20210713.  Apologies for the pedantry, but could you please confirm whethe

[2021-09-14 14:22] pnardini commented on #204
No apologies needed - happy to clarify things wherever necessary :)

What you're seeing here is a direct result of Neverware's integration with Google.

For this submission (Chrome OS - reven) the _googlesource repo is canonical_, and we are submitting the **google-shim-20210913-2** tag.  The googlesource repo was initially set up as a mirror of the github repo without sync, so it's become a fork.

[2021-09-14 14:49] vathpela commented on #204
I'm not going to say you can't do that, but remember that legibility is key here - we have to be able to figure out what's going on. With that in mind, definitely don't do this: https://chromium.googlesource.com/external/github.com/neverware/shim-build/+/refs/tags/v9/shim_15.4_1bea91b_357.patch.  IYou have patches from upstream. Format them with "git format-patch", so we can easily see what they a

[2021-09-14 21:18] pnardini commented on #204
Understood @vathpela, and thank you for the feedback.

We've updated our patch files and verified that the resulting binary hashes have not changed.  The new patch files should also now contain commit IDs from upstream, tying them back to their origin.

As a result our shim-build tag has been updated to https://chromium.googlesource.com/external/github.com/neverware/shim-build/+/refs/tags/v10 and

[2021-09-16 09:04] realnickel opened #205 "shim-15.4 + fixes1 (ia32, x64) for OS ALT (Bazalt Svobodnoe Programmnoe Obespechenie, OOO)"
Make sure you have provided the following information:
   - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag

https://github.com/realnickel/shim-review/tree/BaseALT-shim15.4-ia32-x64-20211215
 - [x] completed README.md file with the necessary information

https://github.com/realnickel/shim-review/tree/BaseALT-shim15.4-ia32-x64-20211215/README.md
 - [x] shim.efi

[2021-09-16 19:08] ncboot opened #206 "SHIM 15.4 for NComputing Global, Inc."
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
            https://github.com/ncboot/shim-review/tree/ncomputing-shim-x64-20220310v2
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
            https://github.com/ncboot/shim-review/blob/v15.4c/shimx64.efi
 -

[2021-09-30 15:27] 6sossomons commented on #194
Is there any update on the ETA for this to be implemented?

[2021-10-01 03:17] amzdev0401 opened #210 "SHIM 15.4 for AmZetta Technologies"
Make sure you have provided the following information:

 - [ ] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [ ] completed README.md file with the necessary information
 - [ ] shim.efi to be signed
 - [ ] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [ ] binaries, for which hashes are added to vendor_db ( if y

[2021-10-01 13:25] julian-klode commented on #210
Closing this issue, as it does not contain any data - maybe it was a bot

[2021-10-01 13:25] #210 closed

[2021-10-05 00:29] lillolollo commented on #194
@julian-klode any news on this?

[2021-10-05 13:44] julian-klode commented on #194
Accepted.

- This is a RHEL rebuild
- SBAT looks good
- Answers to questions look good
- shims build reproducibly

For future reviews, we'd prefer to use a docker image that's not specialized for shim, but used by normal users. I have verified that the image is derived from the public one by inspecting the layers.

[2021-10-05 13:49] SherifNagy commented on #194
@julian-klode noted! thanks :)

[2021-10-06 02:54] amzdev0401 opened #211 "SHIM 15.4 for AmZetta Technologies, LLC"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
  https://github.com/amzdev0401/shim-review/tree/AmZettaTech-shim-X86_64-shim-15.4
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 https://github.com/amzdev0401/shim-review/blob/AmZettaTech-shim-X86_64-shim-15.

[2021-10-06 08:50] julian-klode commented on #211
This submission is inappropriate, it hijacks the ubuntu namespace. Surely you are aware that there already is an ubuntu vendor? It probably should use a `.amzetta` suffix.

The repositories are not forks of the main ones, but hand-stitched together, so to speak. Please rebase the repositories on top of the official ones, so that any changes can be clearly identified.

I do not know if linux 5.10 c

[2021-10-06 08:55] julian-klode commented on #211
I'm confused because this just seems a copy-paste job of #206

[2021-10-06 09:01] julian-klode commented on #206
- The SBAT component names are too short
- The shim-review repository is not forked from the main one
- In #211, the Amzetta submission is eerily similar to this one
- I don't know if kernel 5.4 contains all needed patches
- shim 15.4 misses several important patches and will not work correctly on a number of systems (#165)

[2021-10-06 09:35] realnickel commented on #205
FWIW: previous accepted review was #158

[2021-10-06 12:39] amzdev0401 commented on #211
Thank you, We will fix all mentioned issues. Linux 5.10 kernel has the fix for
"ACPI: configfs: Disallow loading ACPI tables when locked down", We verified the kernel source code 5.10.

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=75b0cea7bf307f362057cc778efe89af4c615354

[2021-10-06 14:30] ncboot commented on #206
1) SBAT entry changed from grub.nc to grub.ncomputing, Is it okay?
2) github.com/ncboot/shim-review repo now is forked from main one
3) no idea, why they copied this submission
4) which exactly kernel patches do You need? Our kernel has upstream commit "ACPI: configfs: Disallow loading ACPI tables when locked down" 75b0cea7bf307f362057cc778efe89af4c615354 applied, I checked sources manually for th

[2021-10-07 01:20] amzdev0401 commented on #211
We have updated the needed changes, please review the updated files. Thank you.

[2021-10-11 16:37] realnickel commented on #202
* SBAT sections for shim and grub2 match to submitted;
* 20 years vendor_cert which didn't change since last accepted submission;
* shimx64.efi and shimia32.efi binaries are rebuildable by provided Dockerfile and sha256 sums match to submitted;
* Base Docker image is an official ubuntu:focal.
* vendor_dbx parts for x64 and i32 are incorporated into respective binaries.

Still, I guess, as you prov

[2021-10-11 18:24] frozencemetery commented on #205
There's a checklist at the top.

[2021-10-11 19:53] frozencemetery commented on #198
Previous review was https://github.com/rhboot/shim-review/issues/130

[2021-10-12 00:50] joylatten opened #212 "Shim 15.4+patches for Cisco PuzzleOS"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
https://github.com/puzzleos/uefi-shim_review/tree/puzzleos-shim-x86_64-20211011
 - [x] completed README.md file with the necessary information
https://github.com/puzzleos/uefi-shim_review/tree/puzzleos-shim-x86_64-20211011/README.md
 - [x] shim.efi to be

[2021-10-12 01:03] haobinnan commented on #202
vendor_dbx binaries have been provided, and they can be found here: https://github.com/haobinnan/shim-review/tree/isoo-shim-20211012
Also, rebuild artifacts are remained undeleted.

@frozencemetery
@realnickel

[2021-10-12 03:16] bitraser commented on #175
@julian-klode
Kindly review the submission and suggest if any changes are required.

[2021-10-14 08:10] EgoSecure commented on #199
@pnardini
we updated the build log file
thank you a lot
sorry for this error

[2021-10-14 12:19] pmhahn opened #213 "SHIM-15.4 for Univention GmbH"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag

    https://github.com/univention/shim-review/releases/tag/4.4-9

 - [x] completed README.md file with the necessary information

    [README.md](https://github.com/univention/shim-review/blob/ucs-4.4-shim-20210906/README.md)

 - [x] shim.efi to be signe

[2021-10-19 21:52] pjbrown4 commented on #200
Build is reproducible

[2021-10-20 11:31] pjbrown4 commented on #212
Build is reproducible.

[2021-10-22 07:40] Zeno-sole opened #214 "shim 15.5 for Deepin"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
   https://github.com/linuxdeepin/shim-review/tree/deepin-shim-15.5
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_F

[2021-10-22 08:23] #214 closed, assigned to nobody

[2021-10-30 13:13] amzdev0401 commented on #211
I have noticed the same issue while testing in different operating systems and I have fixed the issue. I will update the modified files after testing is completed.
Thank you for your quick response. We appreciate the attention you are giving to this review process.

[2021-11-02 09:14] tSU-RooT commented on #211
I am trying cross-review while refferring [reviewer-guidelines](https://github.com/rhboot/shim/wiki/reviewer-guidelines):
- Reproducibility is OK now.
[code]
Corresponding line in new build log is https://github.com/amzdev0401/shim-review/blob/a9bd5d4daa44d23f897dfeb739ac479cda5b5fce/build.log#L1438
- SBAT in shim binary looks good.
[code]
- Organization(amzetta) looks match with cert(NOTE: self-s

[2021-11-02 09:21] tSU-RooT commented on #213
Ah I see.
I was mistaken Debian-10 buster based.

[2021-11-04 17:32] ronnystandtke commented on #196
Thank you very much for the positive review! Is there anything we can do to speed things up? It's been 4 months now and many schools are waiting for our secure exam environment...

[2021-11-05 05:43] tSU-RooT commented on #196
I think many distributers(include us) has same problem of secure boot.

It is helping other distro's submission by cross-review.
https://github.com/rhboot/shim-review/issues/120#issuecomment-819355024

Reviewing other's submission will makes down core reviewers load and faster review process probably.
https://github.com/rhboot/shim-review/issues/165#issuecomment-942719931

[2021-11-06 10:46] rouzer-zhou opened #216 "Shim 15.4 for test Linux 8"
Make sure you have provided the following information:

 - [ ] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [ ] completed README.md file with the necessary information
 - [ ] shim.efi to be signed
 - [ ] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [ ] binaries, for which hashes are added to vendor_db ( if y

[2021-11-06 10:48] #216 closed

[2021-11-06 11:23] rouzer-zhou opened #217 "Shim 15.4 for Circle Linux 8"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
   https://github.com/circle-linux/shim-review/tree/circlelinux-8-shim-x86_64-20211118
- [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passe

[2021-11-06 14:34] tSU-RooT commented on #217
Hi, I have read your submission.
I noticed below points.

- Please link to your repo expressly,
like this: [circle-linux/shim-review@circlelinux-8-shim-x86_64-20211106](https://github.com/circle-linux/shim-review/tree/circlelinux-8-shim-x86_64-20211106)
- Cert file is HTML.
https://github.com/circle-linux/shim-review/blob/circlelinux-8-shim-x86_64-20211106/circle-boot-ca-cert.der
- I have failed t

[2021-11-07 12:29] rouzer-zhou commented on #217
I will link it to our repo.

      Thank you, I has comitted the correct format Cert file.

 There is a error in container image, I will fix it.

Can you tell me how I can get a PGP key?

Now we are a linux distribution community. we focus on delivering a robust open source ecosystem around a Linux platform.
Our website is here:https://www.cclinux.org/home

[2021-11-09 15:13] pnardini opened #218 "[Process Question] Ability to tag submissions as peer / submitter reviewed?"
As I was looking through the submissions list I realized that there's no obvious (at least to me) way to quickly see which submissions have been / are in the process of being peer reviewed by other submitters.  Lacking this level of visibility probably makes it difficult for:

1. Other submitters to see which review they could pick up next to help the overall queue
2. Approvers to quickly see the

[2021-11-09 15:50] frozencemetery commented on #218
Github has tagging ("labels") and we've tried to use that, but unfortunately issue tagging is only open to project members.  I think what you're asking for makes sense and other ideas are welcome.  I suspect that the best solution will be to reduce the queue, though :)

[2021-11-09 17:50] pmhahn commented on #213
@tSU-RooT Thank you so far for your review

Is there anything we need to do or what are the next steps?

[2021-11-10 12:23] realnickel commented on #205
@frozencemetery, @vathpela, @steve-mcintyre, @julian-klode!
Could you please comment on the following: after 15.5-rc1 is tagged should we move to using it unconditionally, or 15.4 with a patch set mentioned in our submission (which makes it much like 15.5-rc1 actually) is still "reviewable and signable" ?

[2021-11-10 22:10] pnardini commented on #218
Ah, I suppose my suggestion relied on being able to restrict label application based on user name.  It seems anyone with "Triage" access can apply any and all labels: https://docs.github.com/en/issues/using-labels-and-milestones-to-track-work/managing-labels, which means that applying the "Accepted" label would become possible for submitters.

Would project boards be an option?  Seems like a promi

[2021-11-12 12:00] julian-klode commented on #199
I concur with @pnardini, this is accepted.

[2021-11-12 12:01] julian-klode commented on #194
@SherifNagy Did you get a signed shim back from MS? If so, please close the issue.

[2021-11-12 12:08] julian-klode commented on #200
Please provide a tag as required. I see the previous submission did not have a tag either, please tag the right commit retroactively (hopefully it still reproduces) such that we can compare the submission against the previous ones.

[2021-11-12 12:08] julian-klode commented on #201
Please provide a tag as required. I see the previous submission did not have a tag either, please tag the right commit retroactively (hopefully it still reproduces) such that we can compare the submission against the previous ones.

[2021-11-12 12:28] SherifNagy commented on #194
@julian-klode yes, just last night actually :) will close the ticket now

[2021-11-12 12:29] #194 closed

[2021-11-12 12:29] julian-klode commented on #212
There are a couple of outstanding questions we need to address:

- The README.md lists Serge and Tycho as contacts, is that still accurate; why is none of the contact persons submitting this?
- We have not validated Tycho's email

Compared to the last submission which was not accepted a couple of changes were made that look OK. I think the previous review got ACKED by Steve (with caveat of wanting

[2021-11-12 12:33] julian-klode commented on #213
I've been looking at previous submissions and I only see #2, which has not been accepted. With the EV cert changed, and the entire review process having changed since 0.7, going to tag this as new vendor, and will look back when reviewing new vendors.

[2021-11-12 12:35] julian-klode commented on #202
@frozencemetery You added the incomplete tag a month ago without a comment, do you think this is complete now?

[2021-11-12 12:43] julian-klode commented on #205
I considered reviewing this, but it does not follow best practices WRT having a simple Dockerfile I can run in podman, so you'll have to wait for someone to deal with your specialness.

[2021-11-12 13:01] realnickel commented on #205
@julian-klode, sorry to hear that  ;(. That was never a problem before...
So, do you mean I should "invert" my file stack "Docker run from shell script" into "shell script run from Dockerfile" to comply?
What is your opinion on shim version and patch set?

[2021-11-12 15:21] julian-klode commented on #196
@ronnystandtke I'm gonna send you two some encrypted emails with words, I'm going to need them pasted back here.

[2021-11-12 15:38] julian-klode commented on #189
I have send you emails with lists of words (different for each person) to validate the email addresses and GPG keys. Please paste the values here, or reply via email to prove control of both address and GPG key.

[2021-11-12 15:39] julian-klode commented on #196
I've not done a full review yet, sorry. but:

I have verified that the commit the tag points to builds reproducibly.

[code]

and I'd like to know:

Who has access to the YubiKey?

[2021-11-12 15:43] julian-klode commented on #189
We'd prefer if we had a public docker image to start the build from, the tarball is somewhat problematic to review with.

[2021-11-12 16:09] frozencemetery commented on #202
Right, I added it because the checklist at the top was not filled out all the way.  It looks like binaries may have been provided in https://github.com/rhboot/shim-review/issues/202#issuecomment-940569744 and the checklist just wasn't updated

[2021-11-12 16:11] julian-klode commented on #202
@frozencemetery I think it's more a case of vendor_db being empty and so they ignored the checkmark (the files were for vendor_dbx; which arguably matters less).

[2021-11-12 18:27] ronnystandtke commented on #196
@julian-klode Thank you very much for the review!

Kundgebungen fachgemäßeste bestbewährt Fernsehtheater immergrünes vorgreifender unermüdlichsten amerikanisierte eingetrocknetes Kloster

[2021-11-12 18:28] ronnystandtke commented on #196
Only I have access to it.

[2021-11-13 23:17] Zeno-sole commented on #218
Thank you for your review, I will resubmit based on your comments

[2021-11-13 23:17] Zeno-sole commented on #201
Thank you for your review, I will resubmit based on your comments

[2021-11-13 23:17] Zeno-sole commented on #200
Thank you for your review, I will resubmit based on your comments

[2021-11-14 01:03] SherifNagy commented on #217
That does looks a lot like Rockylinux submission copy&paste, but anyway we at rocky got asked not to use a special docker container for shim and I thought to share this info with you too since you are following the same path.

[2021-11-14 14:22] tSU-RooT commented on #189
@julian-klode

Thank you very much!

webbasierten Talentes gewöhnlichen Flügeln abstreichenden erbringende
danebenliegendes geduldigen wiedergekehrten Wahlveranstaltungen

[2021-11-15 06:08] haobinnan commented on #202
May I know if my SHIM can be reviewed and accepted?

[2021-11-15 08:52] Yasuhiro-Nakamura commented on #189
I recived your email.

umrüstbarem schnorre Mitverursachern redefiniertem Flussdiagramms
Rückgabe kleidsamsten Polarfluges Spekulantenecke Weinernte

[2021-11-15 11:10] tSU-RooT commented on #189
@julian-klode

I see, I have changed strategy to start from CentOS's public docker image. https://github.com/miraclelinux/shim-review/commit/02e2678d04cb7739dd084282183a4b285a03d2b2

shim reproducibility is also OK.

[2021-11-15 15:52] hallyn commented on #212
Hi @julian-klode  - @joylatten  took this over from Paul.  She'll update the README to add her name.

It would still be great to have Tycho's email validated as well.

[2021-11-15 16:37] chaoos commented on #196
Sorry for the late reply, below the words from the email:

Alkali zahlungsunwilligerer anständig Hellsichtigkeit archiviert gelagerter Schuldlosigkeit beifolgt zuredendem munkelndes

[2021-11-16 17:09] realnickel commented on #205
@julian-klode, I addressed your claim in updated submission. Hope it works with podman as it does with docker. shim binaries were not changed.

https://github.com/realnickel/shim-review/tree/BaseALT-shim15.4-ia32-x64-20211116

[2021-11-17 12:45] rouzer-zhou commented on #217
@SherifNagy
Thank you, but can you tell me the function of PGP key here?how can I get a PGP key?

[2021-11-17 12:55] julian-klode commented on #217
No disrespect, but if you want to build a Linux distribution and get secure boot signed binaries, you should be able to figure this out on your own.

But I see you just disable the gpg checks for the sources, so hooray, anyone can MITM package updates and hijack users of your distro?

[2021-11-17 13:35] xnox commented on #217
This comment alone indicates potentially lack of security practices at this vendor. I would object to signing their shim submission for at least 12 months due to this comment alone.

[2021-11-17 15:58] nicholasbishop commented on #217
PGP is pretty ancient and not well-loved, there's no shame in not being familiar with it. I've work on a Linux distro for six years or so, and I think secure boot signing is the only time I've ever had to directly interact with PGP. Ideally shim review can be a place to help other distros, not a gatekeeper against people who are unfamiliar with the particular tools that have been chosen :)

@rouze

[2021-11-17 16:52] xnox commented on #217
@nicholasbishop submitter of shim must have strong knowledge and reliable processes of how they manager their archive signing keys, grub/kernel signing keys, and ability to receive encrypted & authenticated security notifications. These things today rely on x509 and PGP certificates and keys. It is required for shim development and for integrity of the Circle Linux itself.

[2021-11-17 17:30] SherifNagy commented on #217
@rouzer-zhou I would start reading the wikipedia page mentioned by @nicholasbishop but in short, you can sign emails, encrypted emails / files and sign git commits with PGP for validation, however, the keys also can be signed to create a ring of trust after physical validation.

[2021-11-17 21:33] joylatten commented on #212
Hi @julian-klode I have updated the README as the primary contact.

Is it possible for another email be sent to Tycho for validating his email?

[2021-11-17 21:41] julian-klode commented on #212
Sorry I only really look at this on Fridays really, but I'll take care of it

[2021-11-18 00:20] joylatten commented on #212
Thank you!

[2021-11-18 05:33] Zeno-sole commented on #200
I have added tags separately, please check if they meet

[2021-11-18 05:36] Zeno-sole commented on #200
I have added tags separately, please check if they meet
https://github.com/linuxdeepin/shim-review/releases/tag/deepin-shim-20211117
https://github.com/deepin-secureboot/shim-review/releases/tag/deepin-shim-15.4-20210425

[2021-11-18 06:35] #201 closed

[2021-11-18 15:26] rouzer-zhou commented on #217
Thanks very much, I know the function of the pgp key ,for example rpm signing, but I do not understand why I need to attach one PGP pub key here.
I have attached my PGP key.

[2021-11-18 16:02] julian-klode commented on #217
So people can reach you encrypted in case of a security issue.

[2021-11-19 13:45] julian-klode commented on #196
The words are correct, emails and keys hence verified.

[2021-11-19 13:47] julian-klode commented on #189
tSU-RooT verified.

Hey, @Yasuhiro-Nakamura I sent you a second email a few minutes after that one with other words, as I accidentally reused the same words, could you let me know those?

[2021-11-19 13:54] julian-klode commented on #196
I went through the check list and answers, and this all looks fine from my side too, marking as accepted.

[2021-11-19 14:34] julian-klode commented on #189
**What was being reviewed?** ml8-shim-15.4-20210629 currently points at the following commit:

[code]

**E-Mail verification**: One outstanding.
**Reproducibility** The docker build is reproducible
[code]

These hashes do not match the issue description which lists

[code]

But it does match the README.md

**Source code+Patches**: This looks OK. It misses a ton of patches from #165, but there are

[2021-11-22 08:01] Yasuhiro-Nakamura commented on #189
leidvolle prüderes großflächigeren höherwertigen angefasst Nebraska
mafiösere produzierbarem Hollywoods aufbegehrender

[2021-11-23 06:49] #199 closed

[2021-11-23 16:45] julian-klode commented on #189
Those look good. emails are all verified now.

Once the certificate issue is addressed, we can continue, but maybe we should close this one and open a new submission to keep the queue cleaner if that takes a while.

[2021-11-24 08:21] ncboot commented on #206
Hi, is there anything we can do to expedite the review process? It has been a few months now and many of our customers (including many schools) are waiting for our secure environment.
Thanks for your help in advance.

[2021-11-24 15:27] frozencemetery commented on #198
I'm unable to verify emails - PGP keys are not available.

[2021-11-24 15:27] vt-alt opened #219 "Possibility of signing 4.19.x kernel?"
README says:

Still, is there any possibility to sign 4.19.x stable kernels?

[2021-11-24 15:32] frozencemetery commented on #206
While attempting email verification, I noticed that the keys are not available from keyservers.  Please push them and provide fingerprints in the README.

[2021-11-24 15:35] frozencemetery commented on #211
- amzdev0401/shim-review is not a fork of this repo; please recreate it as one
- email verification could not be completed as PGP key fingerprints were not provided

[2021-11-24 15:51] frozencemetery commented on #213
While beginning email verification, I noticed that the fingerprint for Philipp Hahn's key appears malformed; please fix.

[2021-11-24 17:50] pmhahn commented on #213
Fixed and pushed as new tag [4.4-9.1](https://github.com/univention/shim-review/releases/tag/4.4-9.1)

[2021-11-24 17:53] julian-klode commented on #219
As long as they have the necessary patches. Someone else has more details on what's needed I assume, but you might need to cherry-pick patches yourself.

[2021-11-24 18:51] frozencemetery commented on #213
Thanks.  I've sent you each some words; please post them here when you receive them.

[2021-11-24 20:59] pmhahn commented on #213
@frozencemetery Here are my words:
[code]

[2021-11-25 08:35] edamrose commented on #213
@frozencemetery you sent me the following words:
[code]

[2021-11-25 09:49] ncboot commented on #206
Hello
I pushed emails to https://pgp.mit.edu server and fingerprints are noted in README.md now.
This change tagged with "ncomputing-shim-x64-20211125"

[2021-11-26 20:00] amzdev0401 commented on #211
Thank you for the update, I have updated the requested info, please let me know If I need to do anything in this SHIM submission.

1) amzdev0401/shim-review is not a fork of this repo; please recreate it as one
      In following branch we pull the SHIM source code 15.4 branch from https://github.com/rhboot/shim.git and build the SHIM binary. That information is available in the docker file.

http

[2021-11-28 03:36] vt-alt commented on #219
They are not cherry-pickable since there is no lockdown support in 4.19, it's first appeared in 5.4.

[2021-11-28 03:51] vt-alt commented on #219
So, if 4.19 kernel cannot be locked down why apply the patches which disallow some other kernel functionality on condition of the kernel being locked down?

By my reasoning 4.19 should be allowed to be signed, because there is no lockdown possibility. I wish there is authoritative answer on this.

[2021-11-29 08:58] haobinnan commented on #202
May I know if my SHIM can be reviewed and accepted?
@julian-klode
@steve-mcintyre

[2021-11-29 14:21] frozencemetery commented on #213
Both verified, thanks.

[2021-11-29 15:24] baramundi-sfoerg commented on #198
Hi again,

you're right, I added the pgp key to the review-repository and updated the readme.

Name: Simon Förg
Position: Software Developer
Email address: simon.foerg@baramundi.com
PGP key, signed by the other security contacts, and preferably also with signatures that are reasonably well known in the linux community: https://github.com/baramundisoftware/shim-review/blob/baramundi-shim-20210811/2

[2021-11-29 18:31] vt-alt commented on #219
Perhaps, you should explicitly state that kernel lockdown functionality is required.

[2021-11-29 20:57] frozencemetery commented on #211
While I can't speak for other reviewers, if you want a review from me, you need to adhere to the guidelines, which strongly suggest it to be an actual fork.

[2021-11-30 02:34] haobinnan commented on #202
Hello, would it be possible to review my shim? I found that there is something wrong with the shim submitted last time, so I submit a new one. Thank you very much!

[2021-12-01 03:53] luojc123 opened #221 "shim-15.4 for nsdl v4.3.6"
Make sure you have provided the following information:

 - [ ] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
       https://github.com/luojc123/shim-nsdl/tree/shim-nsdl-x86_64-2021201
 - [ ] completed README.md file with the necessary information
 - [ ] shim.efi to be signed
 - [ ] public portion of your certificate(s) embedded in shim (the file passed to VENDOR

[2021-12-07 06:32] realnickel commented on #205
@julian-klode, @frozencemetery,
is there any issue with our submission which prevents it from being reviewed?

[2021-12-07 06:45] realnickel commented on #202
@haobinnan, do you mean you will change the submission when another "new one" is ready, or do you mean
https://github.com/haobinnan/shim-review/tree/isoo-shim-20211012
is the corrected one already?
It is not clear at least to me.

[2021-12-07 06:52] haobinnan commented on #202
@realnickel
Thank you very much for the quick response. https://github.com/haobinnan/shim-review/tree/isoo-shim-20211012 is the corrected one, and it needs to be reviewed. Thank you!

[2021-12-07 08:32] realnickel commented on #202
You are welcome. By the way, while you are waiting for the review you might want to participate in submitters cross review as it was suggested several times before: https://github.com/rhboot/shim-review/issues/165#issuecomment-940776358

[2021-12-07 08:39] haobinnan commented on #202
Thank you very much for your quick response. May I know if my shim can be reviewed and accepted now?
I'm interested in the submitters cross review. How do I participate in it?

@realnickel

[2021-12-07 09:38] realnickel commented on #202
The link provided above contained a recipe, but let me put a direct link to the manual here:
https://github.com/rhboot/shim/wiki/reviewer-guidelines

Using this guidelines you may provide a preliminary review to any of the open submissions (https://github.com/rhboot/shim-review/issues) not marked as "accepted" the way I provided it for yours before: https://github.com/rhboot/shim-review/issues/202

[2021-12-07 11:58] #219 closed

[2021-12-08 06:51] haobinnan commented on #202
Can the submission be reviewed
@steve-mcintyre

[2021-12-13 19:21] frozencemetery commented on #189
Closing per https://github.com/rhboot/shim-review/issues/189#issuecomment-976835711 .  Please reference this issue when you open a new submission.

[2021-12-13 19:21] #189 closed

[2021-12-13 19:26] frozencemetery commented on #175
The first instruction that you've marked as checked states:

- Your repo is not a fork
- Your link is not a tag

[2021-12-13 19:33] frozencemetery commented on #198
Okay, I see key fingerprints, but only Felix's has been pushed to a keyserver.  Yours should be as well.

[2021-12-13 19:40] frozencemetery commented on #206
I see fingerprints, but am unable to retrieve the keys.  Perhaps if you use a different keyserver, like keyserver.ubuntu.com?  The MIT one doesn't really work anymore.

[2021-12-13 21:13] frozencemetery commented on #200
Repo isn't a fork of the rhboot repo - it seems to be a fork of Zeno-sole's shim-review, which wasn't a fork either.  Please fix.

docker usage seems backward: there's a build.sh driver, that calls docker, and docker calls another shell script.  It would be clearer to have a standalone Dockerfile that echoes the relevant hash.  The less weird your submission is, the more likely reviewers are to go

[2021-12-13 22:39] frozencemetery commented on #202
Link in #c0 is not a tag.  Furthermore, no tags have been provided in comments.  There have been many tags in that repo; I'm going to assume you mean isoo-shim-20211012 but please be clear about this in the future.

Dockerfile calls an external shell script.  It would be nicer not to do this.  But can you explain what "AtomLinux" is?  There's also a fair amount of dead code it would be nice to pru

[2021-12-13 22:55] frozencemetery commented on #213
Looking at tag 4.4-9.1:

- Per README.md, shims are requested to start with the tarball and apply patches.  The fork based on Debian you're using is not easily comparable to that: 674 commits ahead, 197 commits behind rhboot:main.  Please build your shim in the requested way.
- What access controls are in place for your certificate?

[2021-12-13 22:58] frozencemetery commented on #205
Not quite.  Ideally, you wouldn't have a shell script at all, just a Dockerfile.

[2021-12-14 01:31] haobinnan commented on #202
Thank you very much for the comments. #192 has problem, so I submit #202.
1. Yes, I mean isoo-shim-20211012 and the link https://github.com/haobinnan/shim-review/tree/isoo-shim-20211012 does direct to the tag isoo-shim-20211012.
2. AtomLinux is a small system environment built by myself, and it is built based on source codes. You can refer to this link to get more information about AtomLinux: http

[2021-12-14 02:12] ncboot commented on #206
Pub keys pushed to ubuntu key server.
Updated readme.
New tag ncomputing-shim-x64-20211214.
PS: Besides that, MIT key server works perfectly for me.

[2021-12-14 02:14] amzdev0401 commented on #211
1. When I search by E-mail address in https://keyserver.ubuntu.com/  it provides the public key.

loganathanr@amzetta.com
https://keyserver.ubuntu.com/pks/lookup?search=loganathanr%40amzetta.com&fingerprint=on&op=index

Justinb@amzetta.com
https://keyserver.ubuntu.com/pks/lookup?search=justinb%40amzetta.com&fingerprint=on&op=index

2. @amzdev0401
This git account is company account ( AmZetta Techn

[2021-12-14 02:19] Zeno-sole commented on #200
Thank you very much for your review. Regarding the above issues, I will re-modify and submit issues based on your comments

[2021-12-14 02:20] #200 closed

[2021-12-14 07:52] ncboot commented on #206
Can You please check my recent commit.

[2021-12-14 16:51] amzdev0401 commented on #211
About security contacts : Yes we will handle handle security updates, that is not a problem for us.

[2021-12-15 00:25] realnickel commented on #205
Ok. I pulled that helper shell script into the Docker file.
https://github.com/realnickel/shim-review/commit/f07f436cda76e7408ea07b3a2d8460aaada50f1d

No additional infrastructure left at all. No hasher (hsh-sandbox), no gear, no even rpmbuild any more.
https://github.com/realnickel/shim-review/commit/3652ad0e48018eae494025996850ef8aacc1939b

Reworked Dockerfile to use required  tarball as source.

[2021-12-15 18:42] bitraser commented on #175
@frozencemetery Thanks for update.
we will create repo from fork and make changes as per your suggestion.

[2021-12-16 06:30] haobinnan commented on #202
I found that you removed the "question" tag. May I know if my submission can be accepted?
@frozencemetery

[2021-12-20 10:22] baramundi-sfoerg commented on #198
Hi and sorry for keep you waiting.
I pushed my public key to keyserver.pgp.com today.
Hope, we did everything right for now and look forward to your review.

Best regards.

[2021-12-22 23:05] rouzer-zhou commented on #217
I want to know when I can get my signed shim files.
If there are not any problems, please sign it quickly.

[2021-12-22 23:11] Doncuppjr commented on #217
Your files will not be signed here. Microsoft will do that. Only your build process will be reviewed here, and either denied or approved.

[2021-12-27 10:28] luojc123 commented on #221
@julian-klode hi,  Is it necessary to fix all CVE or other else?

[2022-01-05 22:27] haobinnan commented on #202
Can the submission be reviewed

[2022-01-07 17:18] joylatten commented on #212
any new status?

[2022-01-08 05:08] christopherco opened #223 "Shim 15.4 + Critical Patches for CBL-Mariner 1.0 (cbl-mariner-shim-x64-20220107)"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag - https://github.com/microsoft/shim-review/tree/cbl-mariner-shim-x64-20220107
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VEN

[2022-01-18 07:23] marsohod4you commented on #206
Happy New Year!
Do we all have any chance?

[2022-01-18 07:25] ncboot commented on #206
Hello! Can You please review?

[2022-01-21 19:41] amzdev0401 commented on #211
We are planning to add the secure boot feature in the upcoming product release, we are waiting for the SHIM approval. Can you please review the SHIM. Thank you.

[2022-01-24 06:10] bitraser commented on #175
@frozencemetery , I have updated the submission. Now repo has been forked and tagged.
Please review it.

[2022-01-24 09:11] realnickel commented on #205
@julian-klode, @frozencemetery, @cyphermox, @cyphermox, @steve-mcintyre,
may our submission be reviewed?

[2022-01-24 14:31] pmhahn commented on #213
Any news on this? If there anything we can do to get this moving forward?

[2022-01-24 16:28] julian-klode commented on #196
This submission was accepted 2 months ago, has this been signed yet? If so please close it.

[2022-01-24 16:36] julian-klode commented on #223
Just to point this out: The review backlog is huge, but most of it is new vendors, which likely get skipped over for easy existing vendors.

In general, a signing certificate that short does not make much sense. The resources don't exist to get new shims signed twice a year, revocations happen via sbat anyway, I'd expect the certificate to be valid for at least a year after it was signed. I think

[2022-01-25 03:26] ronnystandtke commented on #196
The process of getting an EV certificate is a surprisingly long and kafkaesque process, especially if your team is part of a university. Ours is still going on, so please keep this issue open.

[2022-01-25 03:35] haobinnan commented on #202
Can the submission be reviewed

[2022-01-27 10:31] ncboot commented on #206
Many of our customers (including many schools) are waiting for our secure boot support. We are planning to add the secure boot feature in the upcoming product release. Could you please expedite the review process as it has been several months? Thank you.

[2022-02-01 05:48] christopherco commented on #221
Hi @luojc123,
- yes it is necessary for your grub2 to have the necessary CVE fixes to handle both the July 2020 grub2 CVE list and March 2021 grub2 CVE list.
- Your submission indicates that the additional kernel commits are not applied. Make sure you apply the kernel commits to your kernel:
   - "efi: Restrict efivar_ssdt_load when the kernel is locked down" upstream commit 1957a85b0032a81e6482ca

[2022-02-01 06:05] christopherco commented on #223
Thanks for looking at this @julian-klode . Totally understood about the backlog. I will spend some time reviewing other submissions to help out.

Regarding the certificate, our policy will only allow us to issue RSA2K/SHA256 certificates with <1 year expiry. I am working to get a long-lived CA created (with 10+ year expiry), though our policy around these come with higher key requirements (RSA4K a

[2022-02-03 21:54] frozencemetery commented on #175
Hello, I'm going to send you each some words over email.  When you receive them, please post them here.

[2022-02-03 22:02] frozencemetery commented on #198
Checking today, I see Felix's key, but still not Simon's.  Possibly keyserver.pgp.com doesn't sync, or maybe it choked on the umlaut - I'm not familiar with the service, and when I went to dig further, it required a captcha.

[2022-02-03 23:02] frozencemetery commented on #202
1. Existing vendor
2. Submission reproduces
3. Submission is built from rhboot/shim with patches that appear reasonable
4. All questions in README were answered (though not template)
5. Explanation of cert org name makes sense
6. Certificate does not use HSM.  I am unsure if this meets our criteria.
7. Cert validity is 20 years.
8. SBAT matches, and looks reasonable.
9. Submission uses grub
10. gr

[2022-02-03 23:55] frozencemetery commented on #205
1. Submission is not a new vendor
2. Submission reproduces
3. Patches appear to be cherry-picks from main.
4. All questions answered.
5. Org matches
6. Access to certs is "restricted physically"
7. Cert is valid 10 years
8. SBAT looks okay
9. grub is used
10. grub patches look okay
11. It's not immediately clear to me whether this kernel is correctly patched or not
12. N/A
13. Normal secure boot p

[2022-02-03 23:59] frozencemetery commented on #206
I am going to send you some words.  When you receive them, please post them here.

[2022-02-04 00:03] frozencemetery commented on #211
I am going to send you some words.  When you receive them, please post them here.

[2022-02-04 00:25] frozencemetery commented on #223
Without taking a position on cert, here's what I see on first pass:

- submission repo is not a fork of this repo; please fix
- SBAT looks reasonable
- build reproduces without issue

I'm also curious how you handle DBX updates, since you're not shipping fwupd.

[2022-02-04 00:28] frozencemetery commented on #223
For reviewing other submissions, in case they've not been linked yet, there are some guidelines at https://github.com/rhboot/shim/wiki/reviewer-guidelines

[2022-02-04 01:16] amzdev0401 commented on #211
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

spartanerer
vekstomr=C3=A5dets
utvis
godtgjorde
ferdigbehandlingens
Dardanellenes
held=C3=B8gnsomsorgens
omsetningsgjeldsbrevene
markmusas
varmfyllinger
encefalogrammer
testsalga
maratonforestillinga

[2022-02-04 08:03] bitraser commented on #175
@frozencemetery, We have received emails on mukeshk@stellarinfo.com and skuljeet@stellarinfo.com.
Both mails has subject "shim word". But there is no any word in mail body. Although there are two attachments, one is "AT00001" with "Version: 1" text and another is "AT00002.bin" containg a PGP signature key.

I request you to send mail again with words.

[2022-02-04 11:08] realnickel commented on #205
@frozencemetery, thank you for the review!

What concerns to (6), if this should be explicitly mentioned now, we use FIPS-140 certified dongle to store CA-cert used as VENDOR_CERT.

[2022-02-04 14:47] frozencemetery commented on #211
You seem to have a problem handling utf-8 text, but that is otherwise correct.  Waiting on the other ones.

[2022-02-04 15:21] baramundi-sfoerg commented on #198
Hmm, I see. Today I published my public key to https://pgp.mit.edu/
Hopefully this will work. I was able to find myself and Felix.

[2022-02-04 15:50] frozencemetery commented on #198
I do see a key there, but that has a different fingerprint than what is specified in README.md.

[2022-02-04 16:02] julian-klode commented on #202
@frozencemetery You wrote "Ceritifcate does not use HSM", but the submission says "They're in an HSM"

[2022-02-04 16:05] amzdev0401 commented on #211
Thank you for the update. Do I need to do anything thing from my end ?. Please let me know.

[2022-02-04 16:07] frozencemetery commented on #202
Ah, yeah.  I was reading from README.md where it says "My certificate is stored in a db created by pesign, which is stored on a separate computer that is only used for signing and only few trusted administrators can access it. Linux kernel, grubia32.efi and grubx64.efi are signed using this certificate."

[2022-02-04 16:10] julian-klode commented on #205
I'm not going to re-review the grub patches more detailed, I trust in the last review of them and the current state looks sensible.

(6) has been addressed in previous comment

Marking as accepted

[2022-02-04 16:19] baramundi-sfoerg commented on #198
Great, glad to hear and thanks for the fast response.
You're right, sorry, I forgot updating the rest of the links in this issue after branching and adding my key. Links should be correct now, I revised this issue. Thanks for your effort.

[2022-02-04 16:22] frozencemetery commented on #211
You don't, but your other contact does - I emailed you both.

[2022-02-04 16:22] julian-klode commented on #223
The certificate's shortness is not a blocker, it's a necessity of the process right now.

It stands to reason that CBL-Mariner does not actually need to run on public machines and could be signed directly with an Azure-specific key and that we might want to phase out signing them for the public CA.

I don't think the dbx updates is a valid question in the sense that most distros do not have fwupd

[2022-02-04 16:27] julian-klode commented on #202
@haobinnan Please address the conflicting information. I vaguely recall something, but I don't remember really.

[2022-02-04 16:39] amzdev0401 commented on #211
Hi, I have check my secondary contact, he said he didn't get any mail, he is waiting  for the mail to reply.
Could you please check.

Name: Justine Bagby
- Position: Director - Sales
- Email address: Justinb@amzetta.com
- PGP Key ID: 52D3D8F74C848F3A PGP Key Fingerprint: 87F2 B43A F046 F217 11CB 22AA 52D3 D8F7 4C84 8F3A, HKP key server: https://keyserver.ubuntu.com

[2022-02-04 16:49] frozencemetery commented on #211
Mail was sent to ***@***.*** from ***@***.*** on Thu, 03
Feb 2022 19:05:03 -0500 with subject "shim words" and encrypted body.
It was sent with Message-id of ***@***.*** .  Delivery
appears successful from my end - I have no indication otherwise.

Be well,
--Robbie

[2022-02-04 17:00] amzdev0401 commented on #211
Thank you. Can you please resend the mail.

[2022-02-04 17:04] frozencemetery commented on #211
Resent.

[2022-02-04 17:41] frozencemetery commented on #211
Contact information is verified.  You might want to look into whatever's not processing utf-8 in your email stack properly, but that's not related to shim review :)

[2022-02-04 17:53] amzdev0401 commented on #211
Thank you for the quick and prompt response. Greatly appreciated !!.

[2022-02-04 20:51] bitraser commented on #175
@frozencemetery Please find below keyword as received.
------------------------------------
Kuljeet Singh <skuljeet@stellarinfo.com>
----------------------------------
mellomleder
fiskeartikler
solidaritetsb=C3=B8lga
parallellkobling
skalldatering
ford=C3=B8r
terrengforholdet
omsorgspersonen
Torgerssen
arbeidsterapier
mandeldeigene
amfibiefart=C3=B8yer
etyde

-----------------------------------
Mu

[2022-02-04 21:10] frozencemetery commented on #175
Modulo encoding issues, those match.

[2022-02-05 00:25] haobinnan commented on #202
https://github.com/haobinnan/shim-review/tree/isoo-shim-20220205

@frozencemetery
@julian-klode

[2022-02-05 23:50] haobinnan commented on #202
----------
We only embed out CA certificate. This CA is used to sign further signing certificates which are used for signing the binaries. No other hashes are [CertFile.cer]

[2022-02-06 13:05] ncboot commented on #206
For the Shim words that was sent to fpesek@ncomputing.com, here is the decrypted text:

elektriskeste
h=C3=B8ststorm
solnedgangene
bondelagsformannens
striregnet
komplementerende
mindretallsposisjonen
massekultur
nattverdsbordene
frigruppene
katguter
originalgulvets
erkebispestol

For the Shim words that was sent to rsah@ncomputing.com, here is the decrypted text:

lovprisende
tegneatelieret
landk

[2022-02-07 06:46] haobinnan commented on #202
Do you still have any questions? Could you please specify the problem?

[2022-02-08 09:48] uibmz opened #224 "shim-15.4 for opsi"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 https://github.com/opsi-org/shim-review
[[opsi-shim-x86_64-20220310](https://github.com/opsi-org/shim-review/releases/tag/opsi-shim-x86_64-20220310)]
- [x] completed README.md file with the necessary information
 https://github.com/opsi-org/shim-review/b

[2022-02-08 10:48] julian-klode commented on #224
Just a very early question as it popped up in my mailbox:

Is this access only limited physically, like can I bomb the door to the machine open and the machine stores an unencrypted key, or is the key encrypted with the hardware tokens?

[2022-02-08 10:51] julian-klode commented on #224
From README.md:

If you want to switch to a different bootloader, you'll have to get that bootloader signed by Microsoft and not sign it with any certificate trusted by the shim. We do not support bootloaders other than grub.

[2022-02-08 10:53] uibmz commented on #224
Added the tag for this review

The harddrive itself is encrypted and only those authorized personel has access to the files itself.

[2022-02-08 10:56] uibmz commented on #224
As for now the grub2.06 manual states this
[code]
As for now we are using only grub 2.06 and I think this will be the case for a long time. We just wanted to rename the file, if we would switch the bootloader in the future customers won't be confused with a file called grubx64.efi but no grub bootloader booted.

[2022-02-09 07:48] ecos-platypus commented on #224
Just a side-note: You do not need to patch the name of the second stage loader, you can simply set it via the environment variable `DEFAULT_LOADER` during the build.

[2022-02-09 13:03] ecos-platypus opened #225 "Shim 15.4 for ECOS Technology GmbH"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
   - https://github.com/ecos-platypus/shim-review/tree/ECOS_Technology_GmbH-shim-x64-20220209
 - [x] completed README.md file with the necessary information
   - https://github.com/ecos-platypus/shim-review/blob/ECOS_Technology_GmbH-shim-x64-20220209/READ

[2022-02-10 07:34] haobinnan commented on #202
@frozencemetery
@julian-klode

[2022-02-11 18:41] bitraser commented on #175
@frozencemetery is anything pending from our end ?
Please comment.

[2022-02-11 18:53] frozencemetery commented on #175
shim reviews are intended to be collaboratively done amongst distro vendors.  The idea is that we provide a check on each other to ensure quality.  This is not a service that "you" pay "us" for: there is no separation between the two.  Most of us are overworked, and badgering those who can find time to do reviews at all only punishes us for trying - without offering any assistance of your own.  If

[2022-02-11 18:53] frozencemetery commented on #202
shim reviews are intended to be collaboratively done amongst distro vendors.  The idea is that we provide a check on each other to ensure quality.  This is not a service that "you" pay "us" for: there is no separation between the two.  Most of us are overworked, and badgering those who can find time to do reviews at all only punishes us for trying - without offering any assistance of your own.  If

[2022-02-14 07:20] jaromaz opened #226 "Shim 15.4 for EuroLinux"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
   [EuroLinux/shim-review@EuroLinux-shim-x86_64-20220214](https://github.com/EuroLinux/shim-review/tree/EuroLinux-shim-x86_64-20220214)
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of yo

[2022-02-14 11:35] uibmz commented on #224
FYI, we updated the initual issue and added a dockerfile to reproduce the build. This dockerfile dompares hexdumps and sha256 checksums of the build and submitted shimx64.efi file

[2022-02-14 12:12] realnickel commented on #205
@julian-klode, @frozencemetery, thanks for the review!
Binaries were signed, so closing the issue.

[2022-02-14 12:12] #205 closed

[2022-02-14 17:37] rehakp opened #227 "Shim 15.4 for Adaptech s.r.o."
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag - https://github.com/rehakp/shim-review/tree/adaptech-shim-x86_64-20220214
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR

[2022-02-16 15:28] hallyn commented on #212
Hi - just to make sure:  while checking on the status of this, I noticed that there's a long list of patches, but they are all applied upstream.  The guidance still says to base on 15.4 release.  Is that still correct?

[2022-02-17 06:35] ecos-platypus opened #228 "Shim 15.5 for ECOS Technology GmbH"
**Edits**:
- 2022-02-21: Patches for forcing secure mode in shim and GRUB were added.
- 2022-02-24: Formatting of `README.md` and `ISSUE_TEMPLATE.md` was updated to match the templates modified in https://github.com/rhboot/shim-review/commit/a82f9fe81796aec2b7b4e6d79dd2faf1860dd3e7 and https://github.com/rhboot/shim-review/commit/28f9f9f0ea03b30990b95a258fd71bea58a60376

Make sure you have provide

[2022-02-17 06:43] ecos-platypus commented on #225
As shim 15.5 was released recently and no progress was observable for this request, we created a new request (#228 ) based on shim 15.5. The upstream patches for critical regressions in 15.4 were removed and our custom patches slightly modified for the new version. Feel free to close this request for a 15.4 shim if shims based on 15.5 are being reviewed.

[2022-02-21 07:57] ecos-platypus commented on #227
In this context, contact verification means the verification of encrypted communication with the email addresses that you list in the README.md of your shim-review fork. An authorized reviewer can send an email to each of these addresses and ask you to post the content of these mails here to prove you own these addresses.

Note for authorized reviewers: While the tag does not contain a README.md,

[2022-02-21 17:24] ecos-platypus commented on #225
Closing in favor of #228.

[2022-02-21 17:24] #225 closed

[2022-02-22 02:53] haobinnan opened #229 "shim-15.5 for Isoo (2022-03-11)"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
https://github.com/haobinnan/shim-review/tree/isoo-shim-20220311
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE

[2022-02-22 02:54] haobinnan commented on #229
My previously accepted SHIM:
https://github.com/rhboot/shim-review/issues/192
https://github.com/rhboot/shim-review/issues/202

[2022-02-22 02:55] #202 closed

[2022-02-25 11:04] julian-klode commented on #213
I'd just ignored frozencemetry there. The previous submission was entirely fine, same as the other Debian based submissions, and changing the submission is not helping you or me very much. Literally the guidelines say to start from the tarball, not the git, so any check needs to check that shim is built from the tarball, not vs the git repository - because the git repository is incomplete and need

[2022-02-25 11:24] julian-klode commented on #213
Rejected. Kernel misses the lockdown patches necessary for signing.

- [x] Verification has occurred
- [[x] Verification has occurred
- [x] build is reproducible
- [x] shim is directly derived from approved debian shim, no additional patches
- [x] all questions answered
- [x] certificate issued to Univention GmbH
- [x] access controls sound reasonable
- [x] (one time exception, as it is so late) c

[2022-02-25 11:24] #213 closed

[2022-02-25 22:58] joylatten commented on #212
Hi @frozencemetery,
Which of the contacts still need to be verified? And how do we go about completing the verification(s)?

[2022-02-28 10:08] jaromaz commented on #226
We have not received emails verifying contacts and keys.
Is there anything else we can help with to speed up the process?

[2022-02-28 11:06] julian-klode commented on #228
We are not aware of any shim 15 having been signed, the previous submissions were #70 which was rejected and #225 was withdrawn, so this is considered a new vendor submission, and will need contact verification.

[2022-02-28 11:26] ecos-platypus commented on #228
@julian-klode Thank you for your feedback.

In #70, the shim-review members left the decision to sign the shim to Microsoft (marked as custom second stage due to invasive changes to shim and GRUB verification, the verifier framework did not exist back then). After custom review, Microsoft signed our 15.0 shim. Since newer GRUB versions support robust verification methods via the verifier framework

[2022-03-02 10:37] mnajmajer commented on #226
@frozencemetery, When are you planning to process Shim for Eurolinux? We're using Eurolinux and want to use secure boot asap.

[2022-03-02 10:54] kprzemek commented on #226
Hi,
I'm using EuroLinux too, and I want to try secure boot on my lab environment.
Can you give an approximate time when it will be possible?

[2022-03-02 11:03] asquelt commented on #226
Our client is using this distribution and currently we need to turn secure boot off to install. It would be benefical for client's security compliance to get it fixed. TIA

[2022-03-02 14:54] frozencemetery commented on #226
shim reviews are intended to be collaboratively done amongst distro vendors.  The idea is that we provide a check on each other to ensure quality.  This is not a service that "you" pay "us" for: there is no separation between the two.  Most of us are overworked, and badgering those who can find time to do reviews at all only punishes us for trying - without offering any assistance of your own.  If

[2022-03-03 10:06] rehakp commented on #227
Well, some time has passed but nobody contacted us in the meantime. I think @ecos-platypus that we have made our turn right so that everything should be OK with our PGP keys now. What to do next?

[2022-03-05 02:06] rouzer-zhou commented on #217
what is the meaning of "contact verification"? what should I do next?

[2022-03-08 12:37] ecos-platypus opened #230 "Documentation for contact verification procedure"
I have seen a number of questions regarding the contact verification procedure in shim requests. While information about the procedure can easily be derived by taking a look at accepted shim request, it may be worthwhile to add a short note to `README.md` or `ISSUE_TEMPLATE.md`. In the best case, this prevents these questions and in the worst case the inquirer can be pointed to the documentation w

[2022-03-08 19:08] julian-klode opened #231 "Define requirements in terms of kernel lockdown patches"
@mjg59 recently pointed out a kernel that should have lockdown support, but was still random port io with ioperm(). This turned out to be a regression from updating the kernel from an older patchset to a newer one (old ioperm patch deleted, new one missed), but it leads to the bigger question:

There have been various iterations of the kernel lockdown patchset that distributions have applied in re

[2022-03-08 19:14] julian-klode commented on #231
We need to

1. define a baseline, probably the merged initial patch set + maybe some followup patches
1.1. do additional lockdown patches get CVEs or are they not considered security bugs, but hardening features?)
3. define how we want to handle adding new lockdown patches to the requirements (figure out what MS wants)

[2022-03-09 07:54] ecos-platypus commented on #217
I am not an authorized reviewer that can send you emails for contact verification. However, to address recurring questions regarding contact verification, I opened an issue with a documentation draft. Feel free to take a look at the last paragraph of #230.

[2022-03-09 08:49] ecos-platypus commented on #227
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Submitter is a new vendor (disregarding #1 due to missing contact verification back then, `contact verification needed

[2022-03-09 09:11] julian-klode commented on #165
shim 15.5 is out, closing this.

[2022-03-09 09:11] #165 closed

[2022-03-09 09:12] julian-klode commented on #223
Has this been signed? If so, please close the issue!

[2022-03-09 09:56] ecos-platypus commented on #226
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Submitter is a new vendor (`contact verification needed` label already added)
2. Build is reproducible via the Dockerf

[2022-03-09 10:12] ecos-platypus commented on #224
Before the request can further be reviewed you should fix the contact information. Currently only one contact is listed with a PGP key but not in the format it is requested in. As stated in the template, each of the security contacts should create a PGP keypair, sign the public key of the other contact and push the key to the ubuntu keyservers. The README.md should then contain the fingerprint of

[2022-03-09 10:38] ecos-platypus commented on #175
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

I started reviewing this submissing in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines). However, there are multiple basic issues so that I recommend you to take a look at the reviewer guidelines

[2022-03-09 13:48] uibmz commented on #224
We updated the README.md, tagged it and updated the issue.
Both persons involved created new keys, one didn't have one at all and the other one was too old.
The keys have been uploaded to keyserver.ubuntu.com

http://keyserver.ubuntu.com/pks/lookup?search=0x06DA6B5DFD200AAE&fingerprint=on&op=index
and
http://keyserver.ubuntu.com/pks/lookup?search=0x4719E3A9F93C6B3C&fingerprint=on&op=index

[2022-03-09 14:12] ecos-platypus commented on #224
The keys look fine but both are still missing a signature with the private key of the other security contact.

[2022-03-09 14:45] uibmz commented on #224
Both persons involved signed the other ones key and updated the keys on the keyring

http://keyserver.ubuntu.com/pks/lookup?search=0x06DA6B5DFD200AAE&fingerprint=on&op=index
and
http://keyserver.ubuntu.com/pks/lookup?search=0x4719E3A9F93C6B3C&fingerprint=on&op=index

[2022-03-09 15:46] ecos-platypus commented on #224
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. New vendor, contact verification is required, PGP keys have been submitted
2. I was not able to reproduce the build vi

[2022-03-09 16:20] ecos-platypus commented on #206
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

The links in the issue point to a deleted tag, I conducted this review for the latest tag (`ncomputing-shim-x64-20211214`

[2022-03-09 21:38] vathpela opened #232 "rhel-shim-x64-20220309 and rhel-shim-ia32-20220309"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if y

[2022-03-10 06:19] ecos-platypus commented on #232
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Vendor is well known (most recent previously signed shims #178 and #149), primary security contact stayed the same, se

[2022-03-10 07:33] ecos-platypus commented on #232
After taking some time to scratch the surface of RPM, I was able to build the buildroot image. I had to replace the local repository in `buildroot.repo` with two repositories with the baseurls http://mirror.centos.org/centos/8-stream/BaseOS/x86_64/os/ and http://mirror.centos.org/centos/8-stream/AppStream/x86_64/os/.

Using the buildroot image as base, `shimx64.efi` and `shimia32.efi` can be repro

[2022-03-10 07:44] ecos-platypus commented on #226
I just reviewed a submission by RedHat that also downloads a custom rpm file from a remote server. Their shim sbat entry is also somehow appended to the base shim during the build. So I guess this part is fine.

[2022-03-10 08:36] julian-klode commented on #232
I was able to reproduce the image by switching to CentOS 8 Stream sources as well, though I just switched the base FROM to `FROM tgagor/centos:8` which is like third-party building CentOS Stream. It's a shame there are no official CentOS 8 stream images and that reviewers have to go around hacking this in.

I sent @frozencemetery a word list to verify the GPG email, but since all shim reviewers an

[2022-03-10 08:42] julian-klode commented on #229
#202 was **not** accepted, any review needs to read the backlog in there and figure out if the issues there were resolved.

[2022-03-10 08:49] haobinnan commented on #229
Thank you for your response. There is no need to review #202, as I've submitted shim15.5 (#229).
The #229 is NOT created based on #202. #229 uses shim15.5

[2022-03-10 08:51] julian-klode commented on #229
That's not what I wrote. I wrote that reviewers will have to check that the open issues raised there were resolved in this submission.

[2022-03-10 08:52] ecos-platypus commented on #221
There has been no activity from the submitter in the last three months, the template is only filled out partly and the question whether all CVEs have to be fixed does not indicate a good understanding of security. While I am not in the spot to decide whether requests should be closed, I would like to but that up for discussion.

[2022-03-10 08:53] julian-klode commented on #221
Yes, I'm going to close this, this is not appropriate.

[2022-03-10 08:53] #221 closed

[2022-03-10 09:03] julian-klode commented on #212
Ramble... Notes for review:

I really do not like the approach to certificates here, with a vendor_db with 3 certificates in it. It's very confusing to review (call it a "novel approach"), why don't they just have one parent CA whose certificate is embedded.

I'm meh about the fact that it's built from git where we specifically ask people to build from the tarball instead. I like how you can track

[2022-03-10 09:08] ecos-platypus commented on #198
The contact information is not yet in the format that is expected and described in README.md. It is stated that for both security contacts, the PGP public key fingerprint should be listed README.md (missing for `simon.foerg@baramundi.com`). Furthermore, each security contact has to sign the public key of the other contact and push the signed public key to the keyservers.

[2022-03-10 09:18] julian-klode commented on #212
- The keys for @joylatten and @hallyn do not have UIDs for the Cisco email addresses to which I just sent verification emails
- Tycho's key is broken so can't be imported:
[code]

[2022-03-10 09:22] ecos-platypus commented on #211
I find it problematic that most of this submission is copy-pasted from #206 (as noted before by @julian-klode). If you diff the ISSUE_TEMPLATE.md (not filled out for AmZetta, you have to quote the first post in this issue and removed the leading quote markers) and README.md, most is exactly the same (e.g., `[keys are on HW eToken (SafeNet eToken 5110 FIPS) kept by authorized persons]`) or only wit

[2022-03-10 09:40] uibmz commented on #224
Thank you  for your suggestions.

A new shim have has been build, now with correct sbat data. build.log has been updated. Dockerfile now runs fine with the new changes. Two other colleagues verified no errors when running the dockerfile

[2022-03-10 09:44] ncboot commented on #206
To [ecos-platypus](https://github.com/ecos-platypus)
To be honest I was always thinking that this page issue submission text is not very important (because can be changed at any moment without any log), but important is shim-review fork because all steps are recorded, git logged there.

[2022-03-10 09:48] ecos-platypus commented on #224
New sbat data looks fine. I can now successfully reproduce the build via the Dockerfile. Guess the rest is up to an authorized reviewer (contact verification, secure key storage).

[2022-03-10 09:59] ecos-platypus commented on #206
As mentioned, you only list sbat entries for GRUB, sbat has to be embedded in shim and GRUB. As I said, your GRUB `grub.ncomputing` sbat entry lists `Free Software Foundation` as vendor which is incorrect as you are not the Free Software Foundation.

[2022-03-10 10:37] ecos-platypus commented on #206
The csv format of your GRUB sbat entry is invalid due to the additional comma in the vendor name. I am not going to repeat myself again regarding sbat data for shim and instead recommend you familiarize yourself with sbat: https://github.com/rhboot/shim/blob/main/SBAT.md

[2022-03-10 10:56] ncboot commented on #206
Shame on me.. Now fixed.

[2022-03-10 14:19] frozencemetery commented on #232
word list for you

Polarfuchses
leisere
Allgemeingut
Paddels
Öffnungsklappe
Ortsteilen

[2022-03-10 14:53] ecos-platypus commented on #229
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Vendor is not new, last accepted shim was #192, however last submission #202 was not accepted
2. Build is reproducible

[2022-03-10 16:12] julian-klode commented on #232
Those are the right words!

[2022-03-10 16:33] hallyn commented on #212
bewahrendem
saufenden
Essigs
Schulr�ume
gehobenen
homogenerer

[2022-03-10 17:02] amzdev0401 commented on #211
Yes we familiarized with secure boot. Regarding procedure for submission we had some issues but those were corrected based on the suggestions from the reviewer. Sorry for the issues earlier. Please let us know if anything needs to be updated for your review and we will take care of it immediately.

[2022-03-10 19:59] vathpela opened #233 "rhel9-shim-x64-20220310"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if y

[2022-03-10 20:52] hallyn commented on #212
When I look at https://keyserver.ubuntu.com/pks/lookup?fingerprint=on&op=index&search=0xA91175B11F2CC0FEB9944208F0D44CEB106606C7, I see this one which imports fine for me:

[code]

[2022-03-10 20:54] tych0 commented on #212
I don't think we should use that key -- I unfortunately can't update launchpad's key because I'm locked out of my account due to no longer being a Canonical employee :).

Can you say which key you imported? https://tycho.pizza/tych0.asc should work I hope, but gpg is hard to use, so it probably doesn't :)

[2022-03-10 21:59] joylatten commented on #212
weitermache
Bundesbediensteten
blitztet
wohlgef�lligstes
scharfgemachten
best�ckbare

[2022-03-11 01:18] haobinnan commented on #229
Yes, the sha256 checksums is indeed different, because the related codes in the docker environment changed. I just built it again and got the same result as yours. So I updated the "issues". Could you please have a check of the newly updated one? Thank you!
@ecos-platypus

[2022-03-11 04:27] SerMel13 commented on #233
Hello,
I'm a little bit confused with SBAT for grub2 (wrong rhel version?):
grub.rhel8,1,Red Hat Enterprise Linux 8,grub2,1:2.06-27.el9_0,mail:[secalert@redhat.com](mailto:secalert@redhat.com)

[2022-03-11 07:44] ecos-platypus commented on #229
I can confirm that the updated efi files and checksums now match the ones built via the Dockerfile. That leaves the part regarding HSM and secure key storage for an authorized reviewer.

[2022-03-11 08:08] ecos-platypus commented on #233
Submission questions are answered as in #232 apart from the newer GRUB which seems fine. I cannot reproduce the build as the Dockerfile depends on a local buildroot image `docker://vathpela/shim-rhel-9.0-20220310-buildroot:latest` for which no Dockerfile is supplied.

[2022-03-11 08:14] julian-klode commented on #233
That's not a local one fwiw:

[code]

[2022-03-11 08:19] ecos-platypus commented on #233
Seems like Docker does not accept the format of the base image:
[code]
When changing it to `docker.io/vathpela/shim-rhel-9.0-20220310-buildroot:latest`, it works fine and i can reproduce the build. @julian-klode Is it possible you use podman for the builds?

[2022-03-11 08:27] julian-klode commented on #233
Yep, podman. I confirm it reproduces fine with the provided buildroot, and to make sure the buildroot is not hacked together, I built it from CentOS Stream 9 using this diff:

[code]

which produces the same binaries.

We need to address the question of the grub SBAT, the `.rhel8` listed here is wrong. Looking at CentOS Stream 9, it changed to unversioned `.rhel`, is this intentional?

[2022-03-11 16:18] julian-klode commented on #212
Oh, that's not normal, getting locked out of launchpad after leaving. You can open an RT by email to rt@ubuntu.com

I used `gpg --keyserver keyserver.ubuntu.com --recv-keys 3CCAB226289DE0160C61BDB418D18F1BC464DCA3`. It seems to work on `keys.openpgp.org` which I just got to work yesterday, and the file works too.

@tych0 I just sent you a new world list (and accidentally an unencrypted one first,

[2022-03-11 16:39] tych0 commented on #212
Which e-mail did you send it to? I haven't received anything...

Will e-mail rt, thanks.

[2022-03-11 16:45] julian-klode commented on #212
@tych0 To your corporate email to associate the shim submission with your corporate account

[2022-03-11 16:52] tych0 commented on #212
Oof, I hadn't checked that one yet this morning :). Thanks. Word list is:

[code]

[2022-03-11 16:55] julian-klode commented on #212
All contacts verified, ignoring the unicode shenanigans in the german words :D

[2022-03-11 22:22] vathpela commented on #233
Well, we probably should have just gone with `grub.rhel`, but it doesn't make much difference - we'll have to synchronize on something when it comes time to revoke old builds, of course, but since only the newer (unrevoked) builds need to match what we put in the SBAT environment table, until then they're just aesthetic.

[2022-03-14 09:04] ecos-platypus commented on #228
@julian-klode I attached the shim binary signed by Microsoft back in 2019 as proof ([shimx64.tar.gz](https://github.com/rhboot/shim-review/files/8243100/shimx64.tar.gz)). You can use `hexdump -Cv` to verify that it is the signed version of the unsigned shim submitted in #70 apart from the Microsoft signature.

Regarding the impact of whether we got a shim signed before or not on the further review

[2022-03-15 06:51] ecos-platypus commented on #227
Changes look good, build is reproducible and shim contains sbat data. The rest is left to an authorized reviewer.

A note regarding the build: One if the IPv4 addresses resolved for me for http://archive.ubuntu.com was down, I had to change the corresponding apt source to http://de.archive.ubuntu.com to prevent timeout issues during apt operations.

[2022-03-15 17:51] julian-klode commented on #233
Question answered, accepted.

[2022-03-17 02:45] haobinnan commented on #229
It has been more than half a year since #202. I know all reviewers volunteer their time on this, but the shim I am currently using has bugs. So I submit the shim 15.5. I desperately hope the shim 15.5 can be reviewed soon. Thank you!

[2022-03-17 05:39] ecos-platypus commented on #229
In my opinion, the first step towards getting your shim reviewed faster should be to review the shim requests of other vendors so that the official reviewers have less work processing already peer-reviewed requests. That should speed up the process for all vendors.

[2022-03-18 22:19] joylatten commented on #212
@julian-klode
We must be able to distinguish kernels signed by different keys by their pcr7 value. We use the pcr7 value  to build TPM EA Policy for efi binaries (kernel+initrd+cmdline) signed with the 3 keys.
We tested with a parentCA only in either the VENDOR_CERT_FILE or VENDOR_DB_FILE, and shim uses that to extend pcr7. We are then unable to use the pcr7 value to distinguish our kernels nor ap

[2022-03-23 02:49] bitraser commented on #175
@ecos-platypus , we are renewing certificate, once get updated certificate we will regenerate shim binary and update accordingly.

[2022-03-25 13:29] SherifNagy opened #234 "Shim 15.5 for Rocky Linux 8 "ia32/x64""
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if y

[2022-03-28 05:49] ecos-platypus commented on #198
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Vendor is new, PGP keys are okay now and can be reviewed by an authorized reviewer
2. Build is reproducible
3. Shim is

[2022-03-28 06:55] ecos-platypus commented on #234
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Vendor is known (previously signed shim #194), security contacts stayed the same. PGP fingerprints were not listed in

[2022-03-28 07:41] ecos-platypus commented on #228
@julian-klode Over the last weeks, I reviewed the pending shim requests of other vendors to support the review team as recommended by @frozencemetery in several of those issues (e.g., https://github.com/rhboot/shim-review/issues/226#issuecomment-1057018320).
Is there anything else we can do to speed up the review process for our shim?

[2022-03-28 08:40] SherifNagy commented on #234
Thank you for the feedback :)

Regarding this point, I have noticed some other vendors including the upstream's last submission used the same concept of having a separated docker container for shim buildroots

The use of `@@VERSION@@` variable was based on the upsteam's 8.5 submission / grub2 sbat code, however we can change that to version tags if it's really needed with our next grub2 rebuilds

[2022-03-28 08:54] ecos-platypus commented on #234
I agree that the rhel submissions also use a buildroot image but in my opinion this adds additional complexity for the reviewers as they have to additionally build/verify the buildroot image. I guess the decision on this will have to be made by an authorized reviewer.

Regarding the GRUB sbat data: I guess we mean two different things. It is no problem that the build scripts for shim and GRUB use

[2022-03-28 09:30] SherifNagy commented on #234
That's fair, that's the repo for that is used to build the shim docker: https://github.com/rocky-linux/releng-shim-image

the grub binrary replaced @@VERSION@@ and our current build includes the following:
[code]

[2022-03-30 11:01] julian-klode commented on #228
I hope to get back to reviewing new vendors in a month or so, at the moment I just wave through easy updated submissions.

[2022-04-05 12:30] SherifNagy commented on #234
Anything else needed from our end to get this shim reviewed?

[2022-04-05 17:03] andrewlukoshko opened #235 "AlmaLinux 8 shim-15.5-1.el8.alma 20220405"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if y

[2022-04-12 10:43] jaromaz commented on #226
Let me clarify the answers as requested.

The file from the repository and the file from the remote server are exactly the same, which you can easily check here:

[code]

Regarding the question:

We decided to answer the question a bit thoroughly rather than simply: "yes, they are fixed". More on that in a moment.
Regarding the question:

The whole process is described by Red Hat - summary:
- Shim

[2022-04-14 03:48] LiangJianNSDL opened #236 "shim-15.5 for nsdl V4"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if y

[2022-04-18 14:27] realnickel opened #237 "shim-15.5 (ia32, x64) for OS ALT (Bazalt Svobodnoe Programmnoe Obespechenie, OOO)"
Make sure you have provided the following information:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if y

[2022-04-18 14:44] realnickel commented on #237
Our previous approved submission is https://github.com/rhboot/shim-review/issues/205

[2022-04-21 20:08] amzdev0401 commented on #211
Could you please let us know anything do we need to do from our end.
We are waiting for this SHIM approval, we need to integrate this SHIM to our upcoming product release.

[2022-04-29 11:01] haobinnan commented on #229
Can the submission be reviewed
@steve-mcintyre

[2022-04-29 21:59] joylatten commented on #212
hi,  curious if there is any new status?

[2022-05-02 08:59] uibmz commented on #224
Is there any timeframe when our colleagues can expect the verification mails to be send to them?
@julian-klode

[2022-05-07 10:15] bella485 commented on #230
thank your help.

[2022-05-08 11:16] bella485 commented on #217
HI devs,  is there anything wrong for circlelinux secboot cert supply ? if need something , please contact us, thanks alot.

[2022-05-09 16:06] pejdavies1606 opened #239 "shim-15.5 for Viasat"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [ ] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [ ] any extra patches to

[2022-05-11 18:03] gv2870 opened #240 "Shim-15.5 for MicroWorld Technologies eScan for Windows"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [ ] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [ ] any extra patches to

[2022-05-12 06:49] ecos-platypus commented on #240
Please use the ISSUE_TEMPLATE.md for requests and fill out all questions.

[2022-05-12 06:49] ecos-platypus commented on #239
Please use the ISSUE_TEMPLATE.md for requests and fill out all questions.

[2022-05-12 08:09] ecos-platypus commented on #239
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Vendor is new
    1. I was not able to find the PGP keys for the given fingerprints, they were not published to https:

[2022-05-12 09:13] ecos-platypus commented on #240
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. Vendor is new
    1. PGP public key fingerprints are missing in README
    2. PGP public keys should be published to h

[2022-05-12 09:29] ecos-platypus commented on #228
@julian-klode `ISSUE_TEMPLATE.md` and `README.md` have changed since the issue was created. In February, I incorporated some changes. While reviewing recent shim requests, I noticed that further changes to both files have been made since then: The `ISSUE_TEMPLATE.md` has been shortened to two questions and there were minor changes to README.md in https://github.com/rhboot/shim-review/commit/25247e

[2022-05-12 11:26] ecos-platypus commented on #235
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. New vendor, please upload the PGP public keys to `keyserver.ubuntu.com` for easier verification
2. I was to able to re

[2022-05-12 13:44] gv2870 commented on #240
Thank you for your efforts and taking out time to review.

We have made the following changes and commit has been done.

README.MD

1. PGP Public Key Fingerprints added for both contacts.

2. Public Keys published to https://keyserver.ubuntu.com

3. CLARIFICATION: vmlinuz64 is based on Linux Kernel 5.15.10 (erroneously written as 2.06)

4. Modified README.MD committed

REPO

1. dockerfile.txt rena

[2022-05-12 15:18] gv2870 commented on #240
Link to new tag (with updated Dockerfile and README.MD):
https://github.com/mwti/shim-review/tree/MicroWorld_Technologies-shim-x64-20220512

[2022-05-13 05:58] ecos-platypus commented on #240
I can now see the keys on https://keyserver.ubuntu.com, however the keys are not signed by the respective other security contact. Please do that and push the updated keys to the keyserver.

Regarding vendor/product naming: I guess the sbat data should then contain MicroWorld Technologies Inc. as vendor. `shim.eScan` is fine as shim is for this product. I guess this is kind of nit-picking, I leave

[2022-05-13 06:46] ecos-platypus commented on #239
The rationale behind two security contacts is that the secondary contact can be reached if the primary contact is not available. I would therefore prefer two persons that can be reached directly. I leave this decision to an authorized reviewer.

[2022-05-13 10:14] gv2870 commented on #240
Thank you for your response.

Keys have now have been certified by respective other security contact & published.

[2022-05-16 01:41] amzdev0401 commented on #211
Could you please finish this review, we are waiting for the product release.

[2022-05-16 22:18] SherifNagy commented on #234
Any updated  or anything needed from our side?

[2022-05-17 20:56] andrewlukoshko commented on #235
@ecos-platypus thanks for review.
PGP keys were actually uploaded to keyserver.ubuntu.com:
https://keyserver.ubuntu.com/pks/lookup?op=vindex&search=0xafb1408dcf15f687
https://keyserver.ubuntu.com/pks/lookup?op=vindex&search=0xd2f7f2686583bd6e

[2022-05-18 03:41] ecos-platypus commented on #235
The public keys on the keyserver match the PGP fingerprints from README.md and are correctly cross-signed.

[2022-05-18 10:43] gv2870 commented on #240
Are there any queries for us?
Is there anything our team can add/provide details to expedite the process?
Do kindly let us know.
Thank you!

[2022-05-19 14:55] ncboot commented on #206
Is there anything our team can add/provide details to expedite the process?

[2022-05-20 09:22] LiangJianNSDL commented on #236
Dear Julian, thank you for your reply.
Could you tell us more what other necessary information do we need to add?
Thank you. @julian-klode

[2022-05-21 23:58] haobinnan commented on #229
Can the submission be reviewed

[2022-06-07 18:29] vathpela opened #241 "fedora-35-20220607"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-08 00:09] jsetje commented on #241
You didn't list the most recent lockdown kernel fix: eadb2f47a3ced5c64b23b90fd2a3463f63726066

The shim build does reproduce for me.

[2022-06-08 07:45] ecos-platypus commented on #228
We close this request due to the new CVEs in shim and GRUB that were disclosed in the last 24 hours. We will shortly resubmit with shim 15.6 that addresses the shim security issues.

[2022-06-08 07:45] #228 closed

[2022-06-08 13:46] ecos-platypus opened #243 "Shim 15.6 for ECOS Technology GmbH"
**Updates:**
- 2022-06-27: Build shim without `ENABLE_SHIM_CERT=1`
- 2022-06-28: Remove duplicate entries from sbat

Confirm the following are included in your repo, checking each box:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
   - https://github.com/ecos-platypus/shim-review/tree/ECOS_Technology_GmbH-shim-x64-20220627
 - [x] completed README.md file

[2022-06-08 14:12] ecos-platypus opened #244 "Shim 15.6 for ECOS Technology GmbH"
Confirm the following are included in your repo, checking each box:

 - [x] link to your code branch cloned from rhboot/shim-review in the form user/repo@tag
   - https://github.com/ecos-platypus/shim-review/tree/ECOS_Technology_GmbH-shim-x64-20220608
 - [x] completed README.md file with the necessary information
   - https://github.com/ecos-platypus/shim-review/blob/ECOS_Technology_GmbH-shim-x64-

[2022-06-08 14:21] vathpela commented on #241
We build with CONFIG_KDB_DEFAULT_ENABLE=0, which means this isn't enabled regardless of lockdown.

[2022-06-09 16:23] aburmash commented on #241
* build is reproducible
* submission entries match expectations
* answers in the submission match expectations
* hashes match submission
* redhat is a known-good vendor
Reviewed-by: Alex Burmashev <alexander.burmashev@oracle.com>

[2022-06-10 13:03] uibmz opened #245 "shim-15.6 for opsi"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 https://github.com/opsi-org/shim-review/blob/master/README.md
 - [x] shim.efi to be signed
 https://github.com/opsi-org/shim-review/blob/master/shimx64.efi
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 https://gi

[2022-06-13 12:07] haobinnan opened #246 "shim-15.6 for Isoo (2022-08-02)"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-13 12:08] haobinnan commented on #246
My previously accepted SHIM:
https://github.com/rhboot/shim-review/issues/192

[2022-06-13 12:09] #229 closed

[2022-06-13 13:04] miray-tf opened #247 "Shim 15.6 for Miray Software"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 https://github.com/MiraySoftware/shim-review/tree/miraysoftware-shim-x64+aa64-20220613/README.md
 - [X] shim.efi to be signed
 https://github.com/MiraySoftware/shim-review/tree/miraysoftware-shim-x64+aa64-20220613/shim_mirayx64.efi
 https://github.com/MiraySoftware/s

[2022-06-13 13:05] miray-tf commented on #247
Previously accepted Shim:
#180

[2022-06-14 07:40] uibmz commented on #245
Our previously accepted shim
https://github.com/rhboot/shim-review/issues/29

[2022-06-14 09:55] julian-klode commented on #175
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:55] #175 closed

[2022-06-14 09:56] julian-klode commented on #227
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:56] julian-klode commented on #198
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:56] #198 closed

[2022-06-14 09:57] julian-klode commented on #211
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] #211 closed

[2022-06-14 09:57] #212 closed

[2022-06-14 09:57] julian-klode commented on #217
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] #217 closed

[2022-06-14 09:57] julian-klode commented on #224
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] #224 closed

[2022-06-14 09:57] julian-klode commented on #226
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] #226 closed

[2022-06-14 09:57] julian-klode commented on #234
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] #234 closed

[2022-06-14 09:57] julian-klode commented on #235
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] #235 closed

[2022-06-14 09:57] julian-klode commented on #236
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] julian-klode commented on #237
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:57] #240 closed

[2022-06-14 09:58] julian-klode commented on #206
Closing outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-14 09:58] #206 closed

[2022-06-14 09:58] #196 closed

[2022-06-14 09:58] #232 closed

[2022-06-14 09:58] #233 closed

[2022-06-14 09:58] #241 closed

[2022-06-14 16:47] frozencemetery commented on #241
Understood, and thank you for taking care of that.  However, this is a 15.6 review: https://github.com/vathpela/shim-review/tree/fedora-35-20220607#url-for-a-repo-that-contains-the-exact-code-which-was-built-to-get-this-binary

[2022-06-14 17:09] julian-klode commented on #241
Apologies, it was the oldest one and didn't say 15.6 anywhere so it got me confused

[2022-06-14 17:57] rehakp opened #248 "Shim 15.7 for Adaptech s.r.o."
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-17 16:08] dbnicholson opened #249 "Updating vendor cert expiration"
This is more of a question, so sorry for abusing the issues for it. For Endless OS (most recent review #176), our vendor CA certificate is set to expire in about 4 years. I don't think shim actually checks expiration, but we'd like to regenerate the certificate to extend that much further. This is primarily for other parts of our infrastructure that do validate certificate expiration. Having shim

[2022-06-17 23:11] SherifNagy commented on #249
I am not a member of the reviewing panelist, but I recall that within the review process they do check shim's embedded cert expiry and the duration, and I think some comments on some reviews where that the CA / cert lifetime was a bit long, so not sure what should happen here. However the question might be more related to how MSFT will treat a shim that is being submitted with expiry cert, I know

[2022-06-18 17:10] dbnicholson commented on #249
That's interesting about the length of the certificate lifetime. Last time I was making UEFI CA certificates I went and dug up Microsoft's and they use a 30 year expiration. That's what I was going to use, but I'd be interested in hearing other rationale.

As for adding to dbx for revocation, there's not actually anything to revoke. The certificate is still valid now and will remain so until it ex

[2022-06-20 15:00] andrewlukoshko opened #250 "Shim 15.6 for AlmaLinux OS 8"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-20 15:05] andrewlukoshko commented on #250
PGP keys on keyserver.ubuntu.com:
https://keyserver.ubuntu.com/pks/lookup?op=vindex&search=0xafb1408dcf15f687
https://keyserver.ubuntu.com/pks/lookup?op=vindex&search=0xd2f7f2686583bd6e

[2022-06-21 09:31] andrewlukoshko opened #251 "Shim 15.6 for CloudLinux OS 8"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-23 11:16] pejdavies1606 opened #252 "shim-15.6 for Viasat"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-27 09:19] joseph-zeronsoftn opened #253 "shim-15.6 for ZeronsoftN"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 - [X] shim.efi to be signed
 - [X] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [X] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [X] any extra patches to

[2022-06-27 09:24] #253 closed

[2022-06-27 09:49] joseph-zeronsoftn opened #254 "shim-15.6 for ZeronsoftN"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 - [X] shim.efi to be signed
 - [X] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [X] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [X] any extra patches to

[2022-06-28 06:14] parheliamm opened #255 "Shim 15.4 for SUSE Euler Linux"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-28 07:24] julian-klode commented on #255
outdated request due to the recent round of CVEs in grub and shim requiring a new submission with fixes for all these CVEs.

[2022-06-28 07:24] #255 closed

[2022-06-28 13:01] miray-tf commented on #243
The current shimx64.efi duplicates the first 2 sbat lines:

sbat,1,SBAT Version,sbat,1,https://github.com/rhboot/shim/blob/main/SBAT.md
shim,2,UEFI shim,shim,1,https://github.com/rhboot/shim
sbat,1,SBAT Version,sbat,1,https://github.com/rhboot/shim/blob/main/SBAT.md
shim,2,UEFI shim,shim,1,https://github.com/rhboot/shim
shim.ecos,2,ECOS Technology GmbH,shim,15.6,mail:security@ecos.de

The reason i

[2022-06-28 15:28] miray-tf commented on #243
Disclaimer: I am not an authorized reviewer

This Review is for tag 'ECOS_Technology_GmbH-shim-x64-20220628', sha1: df5dbae29a78dd1af0b120fd18a709268822c3a8

Remaining Steps:
+ Contact verification by an authorized reviewer.
+ The GRUB module list includes the PGP module. I currently don't known how multiple verifiers interact, so somebody else might want to have another look at that.

Questions (

[2022-06-28 20:30] nicholasbishop opened #256 "Shim 15.6 for ChromeOS Flex"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-06-29 16:09] ecos-platypus commented on #243
@miray-tf Thank you for your extensive review!

The GRUB verifier framework allows the use of multiple verifier modules in parallel. While it is possible for a verifier module to defer verification to another verifier and skip its own verification, the `shim_lock` verifier does not allow that. Instead, it insists on verifying all appropriate files (Kernel, EFI chainloader image, ...) by itself. Th

[2022-06-30 08:23] miray-tf commented on #243
Until Gentoo chooses a SBAT entry for their distribution it not really possible to add a SBAT entry for a Grub based on their patch set. So I think it is ok to leave that out.

[2022-06-30 12:44] ifankner opened #257 "Shim 15.6 for Trusted Disk"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 https://github.com/Rohde-Schwarz/shim-review/blob/rohdeschwarz-shim-x64-20220630/README.md
 - [x] shim.efi to be signed
 https://github.com/Rohde-Schwarz/shim-review/blob/rohdeschwarz-shim-x64-20220630/shimx64.efi
 - [x] public portion of your certificate(s) embedded

[2022-07-01 07:17] miray-tf commented on #247
Alexander Roalter uses a new PGP key, so we might need a new contact verification for him.

@julian-klode or @steve-mcintyre could you please have a look at that?

[2022-07-02 20:53] jaromaz opened #258 "Shim 15.6 for EuroLinux 8"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-07-03 04:03] bitraser opened #259 "BitRaser-shim-X86_64-shim-15.6"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
        https://github.com/bitraser/shim-review/blob/bitraser-shim-x64-20220703/README.md
 - [x] shim.efi to be signed
        https://github.com/bitraser/shim-review/raw/bitraser-shim-x64-20220703/shimx64.efi
 - [x] public portion of your certificate(s) embedded in s

[2022-07-04 06:52] parheliamm opened #260 "Shim 15.6 for SUSE Euler Linux 2.0"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-07-06 21:35] frozencemetery commented on #230
This seems probably fine to add, but is better as a pull request :)

[2022-07-06 21:39] frozencemetery commented on #245
@cyphermox was contact verification previously carried out for opsi?

[2022-07-06 21:44] frozencemetery commented on #248
@cyphermox @vathpela was contact verification carried out previously for this vendor?

[2022-07-06 21:50] frozencemetery commented on #249
Right, shim can't check expirations because we effectively don't have a clock at that point.

As a shim reviewer, I wouldn't have a problem approving a submission that just updated cert expirations.  However, if we manage to never release a shim update in 4 years I'd be somewhat shocked - there have been 3 in the last ~15 months - and submitting a signing request for something that isn't the lates

[2022-07-06 22:02] dbnicholson commented on #249
@frozencemetery thanks. Indeed, I don't expect to actually submit the shim signing request until we get around to a full shim update (which would include the updated vendor cert). In the meantime, I want to be able to update our infrastructure with confidence that it won't cause issues once we get around to the actual shim update. I believe the answer is "that's fine".

Good to know about why shim

[2022-07-07 05:46] ecos-platypus commented on #230
Alright, I will incorporate it in the `README.md` and add a pull request in the following days.

[2022-07-07 05:52] ecos-platypus commented on #243
Thank you. I received the words
[code]

[2022-07-07 06:03] ecos-platypus commented on #243
Gerald Richter received the words
[code]

[2022-07-07 06:33] miray-tf commented on #247
tilbakebetalingsmetoden
kløyvere
sørlandsstil
knertet
cheddarene
pengeavregningen
svenskeantenne
nissemødre
virksomhetsreglene
besinnet
dokumentaropptakets
metningstrykket
fribryterne

[2022-07-07 07:10] miray-ar commented on #247
kulturleder
språkforandringen
broketheter
passkontorer
LO-advokater
selvproletarisering
hundretalene
ispil
spesialforpleiningens
katalaner
produktutviklinger
fotballhjerte
forærende

[2022-07-07 07:20] uibmz commented on #245
No the contact verification was not carried out @frozencemetery
Our last submission that the "contact verification needed" tag but was closed because of the last CVEs

[2022-07-07 16:25] frozencemetery commented on #247
Those are the correct words; verified on both.

[2022-07-07 16:38] frozencemetery commented on #245
Thanks, looks like that was #224.  I'm sending some words to you; please post them here once you receive them.

[2022-07-07 17:24] uibmz commented on #245
the words e.ueluekmen@uib.de received were

[code]

[2022-07-08 16:04] joylatten opened #262 "Shim 15.6 for Cisco PuzzleOS"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 - [X] shim.efi to be signed
 - [X] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [X] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [X] any extra patches to

[2022-07-08 17:04] dbnicholson commented on #249
I think that's all the information I need, so I'm going to close this. Thanks!

[2022-07-08 17:04] #249 closed

[2022-07-12 12:21] jsegitz opened #263 "shim 15.6 for SUSE"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-07-18 15:07] pejdavies1606 commented on #252
I left those boxes unchecked because they were not required. Our previous submission proceeded without all the boxes checked. I have now checked all the boxes. Please may we proceed?

[2022-07-19 06:22] jsegitz commented on #263
I'm leaving for a prolonged holiday end of July. It would be great if I could get this done (incl. the signing part by Microsoft) before that

[2022-07-19 06:25] tSU-RooT opened #264 "shim 15.6 for MIRACLE LINUX 9"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-07-20 04:54] ecos-platypus commented on #243
Small update regarding CVE-2022-21505, a kernel lockdown bypass bug using `ima_appraise=log`  (https://seclists.org/oss-sec/2022/q3/57)

We are not affected by this bug as
1. `ima_appraise=enforce` is always set on the ECOS SBS and
2. an attacker cannot modify the kernel commandline in GRUB due to the security measures explained in [README.md](https://github.com/ecos-platypus/shim-review/blob/ECOS

[2022-07-20 04:58] ecos-platypus commented on #231
The upstream commit for fixing CVE-2022-21505 (see https://seclists.org/oss-sec/2022/q3/57) should be included in the list once the patch has made it into upstream.

[2022-07-21 06:12] parheliamm commented on #263
Hi Johannes:
Thanks for your support in advance.
Chenxi

[2022-07-25 08:03] tSU-RooT commented on #256
Disclaimer: I am **not an authorized reviewer**
Hi, I have checked below points.

-  Reproducibility
Build is reproducible from Fedora 35.
Package versions are:
[code]
- Content of certificate file
[code]
I think OK.
Expiry period is under 5 years.
- Private key management

Storing private key in HSM looks reasonable.

- Kernel patches

First 2 commits are included in 5.10 linux kernel.
Last commi

[2022-07-25 18:00] nicholasbishop commented on #256
Thanks for your review!

Actual build log of ebuild is not available?

This is the actual build log; we build our shim in that container.

We do have an ebuild that installs shim, but it just downloads the signed files from a bucket. We did it this way because it would be a pain for shim reviewers to set up a ChromeOS build chroot, and in the end the ebuild pretty much has to download a prebuilt f

[2022-07-26 12:31] andrewlukoshko commented on #250
@frozencemetery hello, we need security contacts verification here

[2022-07-26 12:31] andrewlukoshko commented on #251
@frozencemetery hello, we need security contacts verification here

[2022-07-28 09:02] jsegitz commented on #263
Ping. Is there anything blocking this review? Can I help somehow?

[2022-07-28 12:08] parheliamm commented on #263
Hi Johannes:
To be honest, we are waiting for the comments from the shim reviewer at this point.
All tasks have been done and submitted to this repository. I am not sure whether I miss something.
Please give me some suggestions that would be appreciated.

Chenxi

[2022-07-28 12:34] msmeissn commented on #263
Cenxi, note this ticket is about the SUSE SLES shim, not the SUSE EULER shim.

[2022-07-28 12:41] parheliamm commented on #260
Hi reviewers:

Would you please feedback some comments for this request?
Any feedback would be appreciated.

Chenxi

[2022-07-28 15:38] ecos-platypus commented on #243
@frozencemetery I am sorry to ask for your time but would you please consider conducting a final review for our shim? @miray-tf kindly conducted a thorough review which lead to two small issues being resolved.

We started the review process for a new shim in February (#225) with the goal to receive a signed version of our updated shim before the EV certificate embedded in our old shim expired. As

[2022-07-30 15:43] ozun215 opened #265 "shim 15.6 for GOOROOM-20220805"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-01 12:05] tSU-RooT commented on #246
Disclaimer: **I am not an authorized reviewer**

Hi, I have checked below points.
- What was being reviewed?
isoo-shim-20220613-3 currently points at the following commit:

[code]

- Reproducibility
Build is reproducible from Debian bullseye.
OK.

[code]
Each packages are latest version of debian bullseye.

- Content of certificate file

[code]

Serial number:
Previous accepted(#192) SHIM's certif

[2022-08-01 12:31] julian-klode commented on #246
This is very concerning, stating that the issues are fixed but then using Ubuntu's grub which does not have the bug fixes yet due to complex process issues. You want to make sure you have not signed any of the existing grubs with the key trusted in this shim, wait for a new grub to be made available on the Ubuntu side, and then update the submission.

[2022-08-02 03:03] tSU-RooT commented on #265
Disclaimer: **I am not an authorized reviewer**

Hi, I have checked below points.

- What was being reviewed?
gooroom-shim-amd64-20220722 currently points at the following commit:
[code]
- Content of certificate file
`gooroom-uefi-ca.der` is not put in repo.

- Primary contact
I think individual person's name is desirable.

- Reproducibility
Please provide 'Dockerfile' that rebuild your shim.
Can'

[2022-08-02 03:54] haobinnan commented on #246
@julian-klode @tSU-RooT
I have replaced ubuntu grub2 with debian grub2, and debian grub2 has fixed this vulnerability.

https://github.com/haobinnan/shim-review/tree/isoo-shim-20220802

[2022-08-03 06:44] rehakp commented on #248
Hello @frozencemetery, we haven't been verified yet. Our Shim was accepted in 2017 (see issue #1) but at that time we hadn't had any PGP set, didn't want it and it was not strictly requested and that old Shim has never been incorporated in any project.

[2022-08-03 08:30] tSU-RooT commented on #246
I think debian sid's grub is OK to pass.
2.06-3 is back-porting following fixes.

- CVE-2020-14372: https://security-tracker.debian.org/tracker/CVE-2020-14372
- CVE-2020-25632: https://security-tracker.debian.org/tracker/CVE-2020-25632
- CVE-2020-25647: https://security-tracker.debian.org/tracker/CVE-2020-25647
- CVE-2020-27749: https://security-tracker.debian.org/tracker/CVE-2020-27749
- CVE-2020

[2022-08-03 08:36] haobinnan commented on #246
thanks

[2022-08-03 11:05] tSU-RooT opened #266 "shim 15.6 for MIRACLE LINUX 8.6"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-03 11:10] tSU-RooT commented on #189
We opened a new submission at #266 that solves certificate issue and update to shim-15.6.

[2022-08-03 12:02] uibmz commented on #245
Anything we can to to aid with the whole process?
Any more information needed?

[2022-08-05 09:48] ozun215 commented on #265
Thanks for your comments

Update new README.md

new tag is 'https://github.com/ozun215/shim-review/releases/tag/gooroom-shim-amd64-20220805-1'

thankyou

[2022-08-05 11:03] tSU-RooT commented on #260
Disclaimer: **I am not an authorized reviewer**

- What was being reviewed?
sel-2.0-shim-20220704 currently points at the following commit:
[code]

- Reproducibility
I couldn't get same x86_64 binary from container rebuild.
Part of log is here.

[code]
Version of packages
[code]

In addition, operations of pre-rebuild(copying shim source, install compiler, etc...) stage is hidden this method.
I co

[2022-08-06 17:42] steve-mcintyre opened #267 "Debian GNU/Linux 12 shim-15.6-1 x64, ia32 and aarch64"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-06 17:44] steve-mcintyre opened #268 "Debian GNU/Linux 11 shim-15.6-1 x64 and ia32"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-06 17:46] steve-mcintyre opened #269 "Debian GNU/Linux 10 shim-15.6-1 x64 and ia32"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-07 22:45] steve-mcintyre commented on #245
Looking at this, lots of good stuff:
- build reproduces fine
- SBAT entries look ok to me
- embedded CA cert runs to 2032, looks ok
- grub taken from Debian's 2.06-3, which is OK AFAIK!
- trivial shim patch looks ok
- kernels sound ok

Some things to follow up on:
-   tell us more about your replacement bootloader please

[2022-08-07 23:17] steve-mcintyre commented on #243
## Good stuff:
- Build reproduces here ok
- Embedded EV cert looks ok, expires in 2025 (not a CA cert)
- contact verification is done already
- shim patches look fine
- SBAT entries look fine
- extra grub patches look ok to me
- AFAICS the gentoo grub you're using has all the CVE fixes needed

## Stuff to follow up on:
- Please try to push your grub patches upstream where sensible!
- You have iorw

[2022-08-08 04:56] ecos-platypus commented on #243
@steve-mcintyre Thank you very much for your review!

Most of our GRUB patches are customized for our usage and disable functionality that other people may need. However, I will take another look at generic patches like `gettext-multiple-translations.patch` and check whether they add value to upstream.

The `iorw` module seems to be a dependency from past times that was still defined in our build

[2022-08-08 05:55] uibmz commented on #245
For the time being, we still use Grub 2.06.
We are tinkering around with iPXE currently as it has HTTPS support and we would like to ditch TFTP for large files like our bootimage. For now this is just some experimental work. We just wanted to change the name, in case we will change the bootloader. So customers and users won't be annoyed by reading grubx64.efi and seeing another bootloader configs

[2022-08-08 05:58] ecos-platypus commented on #267
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

1. The vendor is well-known, last accepted shim was #185, security contacts and their keys did not change
- For future re

[2022-08-08 08:35] julian-klode commented on #267
No. They can't go backwards (which I just realized) but they don't have to go upward, they are totally unrelated. You'd only ever bump them if you have custom security bugs fixed outside of a regular grub update (or well same for any other component).

[2022-08-08 08:42] julian-klode commented on #245
I can tell you right now that it's *very* unlikely you'd get a shim signed that can load iPXE.

Many grub vendors (Ubuntu, Fedora, openSUSE) have incorporated the patches from openSUSE to enable UEFI network protocols into grub, which gives you HTTPS support (on UEFI platforms). That's a signable secure boot HTTPS boot path.

I don't think anybody has asked for that in Debian yet, I certainly have

[2022-08-08 08:57] uibmz commented on #245
Thank you for the info @julian-klode.

As said, For now this is just some tinkering and no final decisions have been made. We are still running with grub2 though.

[2022-08-08 10:00] tSU-RooT commented on #265
Hi,

1. Recently pushed der file is Debian's certificate.
https://github.com/ozun215/shim-review/blob/gooroom-shim-amd64-20220805-1/debian-uefi-ca.der
[code]
This shim doesn't boot your grub and kernel probably.

As far as I see build.log , correct file is 'gooroom-uefi-ca.der'.
https://github.com/ozun215/shim-review/blob/gooroom-shim-amd64-20220805-1/build.log#L815

2. We need "Dockerfile" that r

[2022-08-08 10:03] steve-mcintyre commented on #267
ACK, good suggestion!

Argh, docker - it DTRT if you run on an i386 host. I'll see if I can tweak it to build i386 on amd64 too.

[2022-08-08 10:32] ecos-platypus commented on #267
I am not sure about Docker but Podman has the flag `--arch` for setting the architecture of the image that is built. I was able to reproduce the i386 build with podman using `--arch i386`. Extending the Dockerfile so that you can reproduce shim for both architectures with one command is nice but I guess two builds are totally fine as long as you know that this is the way to go.

[2022-08-08 11:12] steve-mcintyre commented on #267
ACK. I don't see an easy way to do that in docker. Time to switch to podman all round, I think!

[2022-08-08 11:55] ecos-platypus commented on #268
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

This request is very similar to #267 which I reviewed before (https://github.com/rhboot/shim-review/issues/267#issuecomme

[2022-08-08 11:56] ecos-platypus commented on #269
Disclaimer: I am not an authorized reviewer but review other shims to reduce the workload of the authorized reviewers and speed up the process for everyone.

Review was conducted in accordance to the reviewer guidelines (https://github.com/rhboot/shim/wiki/reviewer-guidelines)

This request is very similar to #267 which I reviewed before (https://github.com/rhboot/shim-review/issues/267#issuecomme

[2022-08-08 22:24] steve-mcintyre commented on #243
Cool. :-)

I was totally confused why you might have iorw, and it's something I'd be a little worried about from from a SB perspective. It's just too open to random (ab)use AFAICS. But if you have lockdown enabled then it's fine.

I think you're good to go, marking as accepted.

[2022-08-08 22:32] steve-mcintyre commented on #245
I have to agree with @julian-klode here. Until people have done a full SB review of the ipxe codebase, I'm afraid it's not an option from the shim-review point of view. If you acknowledge that, we can progress here.

Apologies if that sounds harsh, but we're responsible for maintaining the SB security chain for everybody. :-/

[2022-08-08 22:44] steve-mcintyre commented on #246
Quick skim here:

- build reproduces fine
- *very* long CA cert duration, but meh
- SBAT entries look ok
- I'm happy that you're using Debian's grub 2.06-2 as a base
- no shim patches, so fine there

You're good to go here.

[2022-08-09 00:50] haobinnan commented on #246
Thank you very much for your quick response and review!

[2022-08-09 03:34] parheliamm commented on #260
Hi @tSU-RooT:

Here is my feedback, please review and comment on it.
Thanks in advance.

- **Reproducibility**
  I couldn't get same x86_64 binary from container rebuild.
  Part of log is here.

- **[Chenxi]:** According to docker rebuild, the pesign hash data are the same.

  - The reason why sha256sum is different is below:

    1. shim-sel_x86_64.efi is built via OBS automatically, this shim-se

[2022-08-09 05:00] ecos-platypus commented on #243
Thank you very much! I will close this issue when we have received the signed shim from Microsoft.

Out of curiosity, I did some digging regarding `iorw`: It was used in the past for disabling certain graphics cards that caused issues in Linux. As the functionality is not being used anymore its a good idea to remove the `iorw` module to reduce the attack surface. So thanks for catching that :-)

[2022-08-09 06:02] uibmz commented on #245
If there is no option, then yes we acknowledge this fact. We can then progress and we will use grub2 only.

We understand that the security chain has to be maintained and secured.

[2022-08-09 07:39] ozun215 commented on #265
Thanks for your comments

We updated the revised new release as you requested.

1. modify and add gooroom-uefi-ca.der
2. modify and add Dockerfile

last release is
https://github.com/ozun215/shim-review/tree/gooroom-shim-amd64-20220809

Thank you

[2022-08-09 07:41] julian-klode commented on #246
Steve you scared me for a bit because you wrote 2.06-2 :D

[2022-08-09 11:05] tSU-RooT commented on #260
@parheliamm

- Reproducibility

That's right.

I will check.

- Certificate

IMHO, actual email address is better.

- kernel patches
Looks OK to me.
Base version is 5.10.

1957a85b0032a81e6482ca4aab883643b8dae06e: had merged to 5.4
75b0cea7bf307f362057cc778efe89af4c615354: had merged to 5.8
eadb2f47a3ced5c64b23b90fd2a3463f63726066: fixed by this patch https://github.com/suseEuler/kernel/blob/SEL-2

[2022-08-10 01:15] parheliamm commented on #260
Hi @tSU-RooT:

Thanks for your feedback, here are my comments below, please review and check:

- **Question: I found 'CVE-2022-28737' is not fixed(i.e. Not patched). Miss?**
  - ​		Based on my investigation, CVE-2022-28737 affects shim only,  grub2 didn't need to apply patches. Please refer to the below link: https://www.suse.com/security/cve/CVE-2022-28737.html

- **SBAT**:

Please review our new

[2022-08-10 11:12] tSU-RooT commented on #260
@parheliamm
- Patches

Oh, sorry I was wrong.
All necessary patches are seems to be included.

- SBAT
Bumped component_generation to 2.
Looks to OK to me.

[2022-08-11 05:11] ecos-platypus commented on #243
We received the signed shim back from Microsoft. Thanks to anyone involved in making this possible!

[2022-08-11 05:11] #243 closed

[2022-08-11 08:56] parheliamm commented on #260
@tSU-RooT :
Thanks for your confirmation for sbat definition, I will update shim/grub2 sbat section under your suggestions.

On the other hand, how about the binary checksum, is that still a problem?

[2022-08-11 22:14] steve-mcintyre commented on #247
Looking:
- Builds reproduce here
- Using existing digicert EV cert, not much life left on it but ok...
- @ecos-platypus I don't see a CA cert here at all?
- SBAT looks fine
- Lots of patches on grub, including all the needed recent ones
- grub module list looks fine
- shim patches look sane enough here
- Linux sounds ok

Not 100% sure about Symobi, but the description is detailed and it's been app

[2022-08-11 22:32] steve-mcintyre commented on #250
I've sent mail to do identity verification

[2022-08-11 22:36] jaboutboul commented on #250
fairway bowing palled Chicago grievous strictly scoff mitering Isuzu giggly

[2022-08-11 23:01] steve-mcintyre commented on #250
Looking:
- Builds reproduce here
- Certs look OK: both EV certs expiring in 2025 (nit: it would be much easier to compare the certs to what's in the shim binary if you generated the .esl file from them at runtime)
- signing keys managed in an HSM
- SBAT data looks ok
- shim builds from upstream 15.6 with no patches
- grub config looks ok, borrowed from RHEL
- Linux config and patches sound OK, als

[2022-08-11 23:17] steve-mcintyre commented on #265
This submission doesn't look remotely ready yet. I'd recommend you go and look at some of the other submissions for examples of how to do this.

[2022-08-11 23:19] steve-mcintyre commented on #245
ok, then I think you're ready to go

[2022-08-11 23:21] steve-mcintyre commented on #247
Clarifying: waiting on a response from @ecos-platypus in case I've missed something!

[2022-08-12 04:34] ecos-platypus commented on #247
@steve-mcintyre Sorry, that was an error on my side. I must have mixed up the self-signed CA aspect with another review... I corrected the part in my review.

[2022-08-12 08:07] steve-mcintyre commented on #247
no worries! :-)

[2022-08-12 08:07] steve-mcintyre commented on #247
Marking accepted, we're done here

[2022-08-12 08:15] miray-tf commented on #247
@steve-mcintyre @ecos-platypus
Thank you for the reviews

[2022-08-12 12:19] andrewlukoshko commented on #250
anthracite worksheets rude impinging emasculates keyboarding corral riskiness wraiths superimposing

[2022-08-12 12:24] andrewlukoshko commented on #250
@steve-mcintyre fwupd comes from RHEL too

[2022-08-14 10:49] ozun215 opened #270 "shim 15.6 for GOOROOM-20220814"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-14 15:07] rouzer-zhou opened #271 "shim-15.6 for circle linux"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 - [X] shim.efi to be signed
 - [X] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [X] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [X] any extra patches to

[2022-08-14 15:14] steve-mcintyre commented on #250
OK, you should probably update the embedded SBAT data to reflect that then (checking what's in your README.md). Not a big thing, but it's useful for potential revocations.

[2022-08-14 15:15] steve-mcintyre commented on #250
Verification done, all questions done. No issues remaining, marking as accepted.

[2022-08-14 15:23] andrewlukoshko commented on #250
Thanks!

[2022-08-14 15:30] steve-mcintyre commented on #248
Verification mails sent

[2022-08-14 16:12] steve-mcintyre commented on #248
- shim reproduces ok
- no shim patches, great!
- EV cert embedded, expiry 2023 from Comodo, looks ok
- HSM used for key control, good
- kernel sounds ok

Questions / issues:
- What's the significance of the grub-extras directory? It includes a load of object files etc. too - why?
- I can't tell if your grub build includes all the patches needed, and you haven't said
- Your grub SBAT level is still

[2022-08-14 16:17] steve-mcintyre commented on #251
verification emails sent

[2022-08-14 16:17] andrewlukoshko commented on #251
impressionism phalanges disturbs heathenish majorettes abler bounds semiprecious ungodly bragging

[2022-08-14 16:30] steve-mcintyre commented on #251
Checking:
- shim builds reproduce here
- Cert looks OK: EV cert from Certum, expires 2024
- signing keys in an HSM
- SBAT data looks ok
- minor nit in the fwupd SBAT: please add the RHEL data too if you're derived
- 15.6, no patches
- grub confif and patches all borrowed from RHEL
- Similar for Linux
- old shim and grub binaries will be blocked appropriately

All looks good, just waiting on the ve

[2022-08-14 18:35] steve-mcintyre commented on #252
Sent mails for identity verification.

Looking:
- shim build reproduces here
- Digicert EV cert, expires in 2025
- couple of minor issues in SBAT (see below)
- shim from upstream, no patches
- no grub or linux here

Queries:
- Looks like a typo in the SBAT contact: mailto:secalert:viasat.uk.com instead of mailto:secalert@viasat.uk.com
- Also: your claimed upstream SBAT level for shim doesn't match

[2022-08-15 10:02] andrewlukoshko commented on #251
@steve-mcintyre Leonid's words:
`parts warhorse métier Jeannette Buick Elbe milked soundproofs axe ravines`

[2022-08-15 10:10] steve-mcintyre commented on #251
all done, approved!

[2022-08-15 10:16] andrewlukoshko commented on #251
Thanks!

[2022-08-15 11:07] pejdavies1606 commented on #252
[secalert@viasat.uk.com](mailto:secalert@viasat.uk.com)
scudded immolated unwraps leotard phonograph backpacker wanderlusts striding governable Periclean

[support@viasat.uk.com](mailto:support@viasat.uk.com)
former underpasses interchanges mows outgrowing abstracted prophesied uninteresting ferociously enquires

Responses:
- Will fix typo in SBAT contact.
- Will fix typo in README. [Upstream SBAT

[2022-08-15 17:14] frozencemetery commented on #267
Looks good to me!

[2022-08-15 17:22] frozencemetery commented on #268
Looks good to me.

[2022-08-15 17:29] frozencemetery commented on #269
Looks good to me.

[2022-08-15 17:37] frozencemetery commented on #260
I am going to email you some words for contact verification.  Please post them here when you receive them.

[2022-08-15 18:02] frozencemetery commented on #263
- Your readme mentions SBAT for fwupdate; are you still using fwupdate for things?  If so, are you aware that fwupdate [has been subsumed into fwupd](https://github.com/rhboot/fwupdate)?
- You appear to have several downstream patches to shim.  Can you speak to your plans for upstreaming them?
- Your README mentions shim 15.4; I assume this should refer to 15.6?
- README.md specifies a command to

[2022-08-15 18:13] frozencemetery commented on #254
Your contact information has changed - it would have been helpful to call this out.  Why does Joeseph Lee have a new key?

[2022-08-15 18:35] aronowski commented on #258
regnskapsregistrene
storselskapenes
n=C3=A6ringsmeldinga
sjeledrama
klosterlatin
skagene
minskningene
denudasjonen
brestingen
tilhenget
hovedstadshotellet
tomgangstap
r=C3=B8nne

[2022-08-15 18:58] frozencemetery commented on #259
I am concerned about how this setup interacts with grub.  Specifically, this submission specifies that the full version number of its bootloader is "grub 2.11".  There is no grub 2.11 yet.  In the linked repo, there is a tag "bitraser-grub-2-11-20220620" - it could be that this is what's meant, but at that point the full version number is wrong, and it's going to be even wronger when upstream grub

[2022-08-15 19:31] frozencemetery commented on #266
Not all boxes are checked.

[2022-08-15 19:32] frozencemetery commented on #264
- Contact verification previously completed
- build reproduced

I didn't see anything that seemed major, but do have a couple questions:

- your shim-review repository is gigantic (1.9 GB) - do you know why?  (Is it related to the grub2 checkin?)
- grub.miracle has bumped sbat to 2.  What happened here?  (If you're copying what I did in RHEL/Fedora: I accidentally bumped the version and you don't

[2022-08-15 21:55] joseph-zeronsoftn commented on #254
@frozencemetery The key has expired and a new one has been created.

[2022-08-15 22:42] steve-mcintyre commented on #252
identity verification done

[2022-08-15 22:58] steve-mcintyre commented on #252
Thanks for the updates!
SBAT fixes look fine, and the new build reproduces ok here.

I guess I should have been clearer about the "CA cert" question, apologies. I can see the embedded cert just fine, but it definitely doesn't look like a CA cert:

[code]
AFAICS that's a straight code-signing cert, not a CA cert? Yes, I'm being picky here (sorry!) but we try to be very careful about what we approve

[2022-08-15 23:26] steve-mcintyre commented on #256
Looking:
- shim builds reprpduce here ok
- Embedded CA cert with 5-year expiry
- SBAT data looks fine
- shim from upstream, no patches
- old revocations done ok
- kernel sounds ok
- already verified identities on earlier submissions
- key managed in an HSM
- tiny list of grub modules included - I'm surprised that's enough!
- grub patches look ok

Looks good to go

[2022-08-16 11:06] pejdavies1606 commented on #252
Yes, it is a code-signing cert. I guess I called it a CA cert because the next question refers to (CA) certificates. I will correct the README.

[2022-08-16 12:34] pejdavies1606 commented on #252
New tag: https://github.com/Viasat/shim-review/tree/viasat-shim-x64-20220816
Hash unchanged.

[2022-08-16 12:38] steve-mcintyre commented on #252
Excellent, I think we're all good now!

[2022-08-16 12:58] kailiu42 commented on #260
Here are mine:

[code]

The second letter of the first word seems is not ASCII but some other western language that I don't understand. I just copied & pasted from mutt display on the terminal, not sure if it actually is correct.

[2022-08-16 13:08] parheliamm commented on #260
chenxi.mao@yuncheos.com got below words:

[code]

[2022-08-16 14:50] nicholasbishop commented on #256
Great, thanks for reviewing :)

[2022-08-16 15:15] frozencemetery commented on #260
Both verified, thanks!

It's Norwegian (Bokmål).  Julian uses German, which gave me the idea... it's more entertaining to me this way, and also I get to see how widespread working UTF-8 actually is :)

[2022-08-16 15:17] frozencemetery commented on #254
Okay, but why did you do that instead of renewing the expired key?

[2022-08-16 20:08] SherifNagy opened #273 "Rocky Linux 9 shim-15.6 x64"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-16 20:09] SherifNagy commented on #273
We had older submission accepted, but I think we never got contact verification emails before

[2022-08-16 20:39] steve-mcintyre commented on #271
Sent mails for contact verification

[2022-08-16 20:41] steve-mcintyre commented on #271
Your README.md and patch list still talk about **shim 15.4**. I'm stopping right here...

[2022-08-16 20:44] steve-mcintyre commented on #273
Ask and ye shall receive... :-)

[2022-08-16 20:52] SherifNagy commented on #273
matriarchal campanile sanest envelope Odets huger journey darken
reappraised noting

[2022-08-16 20:52] SherifNagy commented on #273
Thanks :) I should have asked for pizza xD

[2022-08-16 20:55] steve-mcintyre commented on #273
Looking:
- shim reproduces here
- shim from upstream, no patches
- Includes a CA key with ~9 years left, ok
- SBAT data looks ok for shim and grub
- revocation story is fine
- kernel looks fine, borrowed from RHEL
- HSM for key management
- grub looks ok, borrowed from RHEL
- list of grub modules looks fine

Queries:
- I assume your fwupd derives from RHEL too? If so, please add the RHEL SBAT data

[2022-08-16 20:57] SherifNagy commented on #273
I will check if I can rebuild fwupd with both SBAT entries

[2022-08-16 21:04] steve-mcintyre commented on #262
Following on from #182 and #212. presumably

[2022-08-16 21:23] steve-mcintyre commented on #262
Looking:
- ID already done in #212
- shim reproduces here
- shim from upstream, no patches
- SBAT data looks ok for shim
- no issues with revocation, new certs
- Complicated set of 3 embedded CA certs, each with **huge** lifetime (2071!) Thanks for at least showing how you generate the .esl file here!
- HSM for key management
- I remember looking at stubby before, looks ok
- linux setup sounds ok

[2022-08-16 21:30] steve-mcintyre commented on #270
Assuming this is meant to supersede #265 (please confirm that!)

Docker build fails here:
[code]

[2022-08-16 21:45] SherifNagy commented on #273
@steve-mcintyre Fixed the fwupd SBAT entry names and added RHEL entry as requested, re-tagged everything again. Thanks :)

[2022-08-16 21:56] steve-mcintyre commented on #273
looks good, marking as accepted

[2022-08-16 22:00] SherifNagy commented on #273
Thanks @steve-mcintyre !

[2022-08-16 22:11] joseph-zeronsoftn commented on #254
@frozencemetery Actually, there is no big reason. I thought it was not good to use the same key for a long time.

[2022-08-16 23:41] ozun215 commented on #270
Yes it is superseded https://github.com/rhboot/shim-review/issues/265

We are working on dockerfile to be excitable soon

thanks for your patience

[2022-08-16 23:51] SherifNagy opened #274 "Rocky Linux 8 shim-15.6 x64 and ia32"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-17 06:25] ozun215 commented on #270
We have fixed some bugs and update Readme.me  and Dockerfile

New release is https://github.com/ozun215/shim-review/tree/gooroom-shim-amd64-20220817-4

new sha256 hash is

cfa3cf6ac47e7714622a3f2bbedd00d12b455593e583edb27752becbedb1a55b  shimx64.efi

Thank you

[2022-08-17 10:15] steve-mcintyre commented on #265
Replaced by #270

[2022-08-17 10:16] steve-mcintyre commented on #265
Replaced by #270

[2022-08-17 10:16] #265 closed

[2022-08-17 10:41] steve-mcintyre commented on #270
So finally I can reproduce this build. However, there are still issues in your submission

- It's very light on detail. I don't know what Gooroom is, and you've given us no clues.
- "To secure boot working on Gooroom OS" tells us nothing useful. Why should we care that Gooroom boots using Secure Boot?
- Contact 1 is just "Gooroom", which tells us nothing
- A large chunk of your README.md is copied

[2022-08-17 12:27] tSU-RooT commented on #264
Hi, thank you for your review.
I will answer questions.

Sorry for inconvenience, other branches includes splitted tarballs(saved rootfs as tarball when mock build).
We stopped checkin tarballs to git branches since it's not smart.
I deleted old branches at just now.

Right.
In actually, we haven't released `grub.miracle,1` of grub2 (either `grub.miracle,2` is not released too, because we are pre-

[2022-08-17 13:13] frozencemetery commented on #264
Wrong SBAT field, I think.  That is the generation number, not the version.  There's some reference docs on how those work in SBAT.md and SBAT.example.md.

[2022-08-17 13:23] steve-mcintyre commented on #274
Very similar to #273, of course
Looking:
- No need for contact verification, already done in #273
- shim builds reproduce here
- shim from upstream, no patches
- Includes a CA key with ~9 years left, ok
- SBAT data looks (mostly!) fine
- revocation story is fine
- kernel looks fine, borrowed from RHEL
- HSM for key management
- grub looks ok, borrowed from RHEL
- list of grub modules looks fine

T

[2022-08-17 14:22] pejdavies1606 commented on #252
Thank you!

[2022-08-17 14:22] #252 closed

[2022-08-17 14:45] steve-mcintyre commented on #274
No worries, all good now!

[2022-08-17 17:37] ronnystandtke opened #275 "Lernstick shim-15.6-1 x64 (20220817)"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-18 07:47] AlexBaranowski commented on #258
@frozencemetery FYI @jaromaz is currently on vacation during which he wanted to be "offline" && "tech detox" as much as possible. We are trying to reach him, but it might take some time.

Sorry for keeping You waiting.

[2022-08-18 11:26] jaromaz commented on #258
@frozencemetery @AlexBaranowski My keys are secured offline - I return from vacation on 25.08 and will send the list of words then, since I didn't even take my laptop on this trip.

[2022-08-18 11:27] ifankner commented on #257
First of all, thanks for the review.

And you are right, we moved forward to Shim 15.6. "No changes were made" referred to the fact, that we didn't add extra patches to the Shim code since the last submission of our signing request :-)

As I mentioned it in the README file, the first patch "bypass_bootoptions.patch" bypasses the bootoption parsing and second stage loader name assembly. We noticed

[2022-08-18 15:54] rouzer-zhou commented on #271
Thanks, I have fixed my README.md and create a new tag of repo.

[2022-08-18 23:36] steve-mcintyre commented on #275
Looking:
- identity verification not needed (#196)
- shim reproduces ok here
- upstream 15.6, no patches
- includes a CA key with ~9y left, ok. Following a similar strategy to Debian, ok
- SBAT data looks (mostly!) OK (seel below), including upstream Debian data
- revocation story looks good
- kernel sounds ok, borrowed from Debian
- HSM for key management, ok
- grub looks (mostly) OK, borrowed fr

[2022-08-18 23:38] steve-mcintyre commented on #257
ok, all sounds good!

[2022-08-19 09:59] tSU-RooT commented on #264
@frozencemetery
We updated grub2's SBAT, Dockerfile and README.
New tag is: https://github.com/miraclelinux/shim-review/tree/miraclelinux-shim-x64-20220919

[2022-08-19 14:28] coreyvelan opened #276 "FixMeStick shim-15.6 x64 and ia32"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-08-19 14:43] SherifNagy commented on #274
Closing, we got back the signed shim from Microsoft

[2022-08-19 14:43] #274 closed

[2022-08-19 14:43] SherifNagy commented on #273
Closing, we got back the signed shim from Microsoft

[2022-08-19 14:43] #273 closed

[2022-08-19 14:47] miray-tf commented on #247
We got the signed Shim

[2022-08-19 14:47] #247 closed

[2022-08-19 15:07] ronnystandtke commented on #275
Hi Steve,

Thank you for your review!

We have taken the latest git snapshot of the Debian package, therefore it was build on top of the unreleased 2.06-4.
Because the content of 2.06-4 might change before release and to avoid confusion we are now using 2.06-3 as the base.
The new tag is here (only the grub version numbers have changed):
https://github.com/Lernstick/shim-review/tree/lernstick-shim

[2022-08-19 15:19] steve-mcintyre commented on #275
Yeah, that was exactly my worry on the Debian grub package. Thanks for fixing!

[2022-08-19 15:19] steve-mcintyre commented on #275
All good now, marking accepted

[2022-08-19 16:11] christoph-at-unicon opened #277 "shim 15.6 for elux-20220819"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed (as shimx64.efi)
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [n/a] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [n/a]

[2022-08-19 17:40] joylatten commented on #262
Hi @steve-mcintyre,
That CA bit was set because of how certs were generated. The 3 certs will not be used as CAs.

[2022-08-21 23:04] steve-mcintyre commented on #262
Sorry, but that's a little disconcerting here for me. I'm always a bit worried to see things open wider than they need to be in this context.

@frozencemetery @julian-klode @vathpela what do you think here please?

[2022-08-22 11:21] tSU-RooT commented on #260
@parheliamm
Hi,

Alright, I think the reason of mismatching is well explained.
I confirmed difference is '0' data align.
[code]

Additinally, I've checked by appending below commands.
[code]

[2022-08-23 00:07] joylatten commented on #262
Sorry, meant to say they were generated as 3 self-signed CA certificates.

[2022-08-23 07:42] rehakp commented on #248
faintness quips lasers sane Mingus urbaner underestimating Perez famishes tilling

[2022-08-23 08:42] rehakp commented on #248
These were the words sent to rehak@adaptech.cz in order to verify us. Unfortunately we haven't been able to find a similar message on the 2nd security contact zana@adaptech.cz so please resend if possible.

[2022-08-23 15:56] andrewlukoshko commented on #251
Shim is signed by MS, closing.

[2022-08-23 15:56] #251 closed

[2022-08-24 00:31] steve-mcintyre commented on #248
resent now

[2022-08-24 06:02] rehakp commented on #248
Verification words for zana@adaptech.cz:
electroencephalograms neglectful weepings smooched metabolize anticlimaxes antiperspirants scandalizing Fitzgerald winking

[2022-08-24 14:52] ozun215 commented on #270
We have fixed some bugs and update Readme.md

New release is

https://github.com/ozun215/shim-review-1/tree/gooroom-shim-amd64-20220824-4

Thank you

[2022-08-24 15:10] frozencemetery commented on #262
At the very least I'd want it documented in the submission, which it currently isn't.

I mean, sure, but why though?  Why not generate them without that?

I would think this presents an auditability problem: sure, you don't want to, but they can be - nothing stops them from signing another cert.

I think I share this concern.

[2022-08-24 15:54] frozencemetery commented on #264
I didn't mean that you had to use the Fedora shims, but it definitely does make review easier if that works for you :)

- Build reproduces
- Source code is RHEL/Fedora; has all relevant CVE fixes
- Cert is non-CA; 5 year lifetime
- Key is HSM
- SBAT looks okay

My only remaining questions are about the kernel... are you just using the RHEL kernel?  If not, we'd like more information on what patche

[2022-08-24 22:13] jaromaz commented on #258
@frozencemetery

privatsamlerens
fellesskapsverdier
vilttrygdavgiftene
klimaavdelingen
endringsfase
eitelens
stemningsskiftets
evidens
teglstein
dynnets
sjukdomsårsaker
fallskjermgodtgjøring
stillingsinnehaverne

[2022-08-25 10:53] tSU-RooT commented on #264
Yes, just one debrand patch is applied for RHEL kernel.
No harm for functionality.

New tag is: https://github.com/miraclelinux/shim-review/tree/miraclelinux-shim-x64-20220925
Compare is: https://github.com/miraclelinux/shim-review/compare/miraclelinux-shim-x64-20220919..miraclelinux-shim-x64-20220925

[2022-08-25 14:33] James6xie commented on #271
Hi , if there something need to fix , please contact us.  Thanks your effort.

[2022-08-25 17:53] frozencemetery commented on #264
Alright, looks good to me.

[2022-08-25 17:55] frozencemetery commented on #258
Not a problem for me; the only ones who suffer here are you :)

In any case, both word sets match; contact verification complete.

[2022-08-25 18:03] frozencemetery commented on #258
Your README states that you're a "Linux operating system based on Red Hat Enterprise Linux source code".  Yet your Dockerfile is building using Oracle Linux.  Which is it?

Your grub2 sbat has `grub.eurolinux,2,...` - why is this?  (There's no rule that they need to increase as you go down, so we'd expect 1 here unless there was a problem.)

[2022-08-25 21:30] SherifNagy commented on #277
I am not a reviewer, but it seems like your shim is not the latest 15.6 as stated in the title and the repo tagged is from 2020

[2022-08-25 22:09] steve-mcintyre commented on #277
Agreed, adding a Bug label here.

[2022-08-25 22:34] #246 closed

[2022-08-26 01:21] tSU-RooT commented on #264
thanks for reviewing.

[2022-08-26 12:26] ncboot opened #279 "NComputing LEAFOS shim-15.6 x64"
Confirm the following are included in your repo, checking each box:

    [+] completed README.md file with the necessary information
    [+] shim.efi to be signed
    [+] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
    [-] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
    [-] any extra patche

[2022-08-28 14:53] rouzer-zhou commented on #271
I have received the contact verification e-mail. The message is as follow.
"biopsy suppleness Levesque exoduses codfish lemma carjackings grainy refunded thrust"

[2022-08-29 13:10] aronowski commented on #258
The reason for that number 2 in EuroLinux' GRUB2 generation number is that after upstream updated their generation number, we did the same for management simplification.

[2022-08-29 13:13] jaromaz commented on #258
All these systems are binary compatible, produce exactly the same artifacts. Of course, there is no problem to use our container, but in the reviews several comments suggested such a procedure: using a container with a different, independent distro, was recommended.

[2022-08-29 16:27] SherifNagy commented on #271
I am not a reviewer or a member of the board, however I did look at the submission and have a couple of notes:
* Circle Enterprise Software Foundation seems like it doesn't exists, I can't find any online information, is it registered and exits? this is actually very important for you to obtain the EV cert to submit shim for Microsoft for signing.
* You mentioned you did submit your old shim to Mi

[2022-08-29 18:07] joylatten commented on #262
We used self signed CA certificates in the proposed shim simply out of convention and consistency. Most of the accepted shim requests we looked at had CA certificates.
We would like to continue the review with CA in place.  If doing so is not an option, then we can patch our shim to embed self signed certificates without CA bit set.

[2022-08-30 14:44] rehakp commented on #248
I have just edited the 1st post to reflect a new tag just created to accommodate changes. The following changes have been made:
- GRUB patch set without suspicious (although harmless) object files
- added the GRUB binary as well as a grub_aliases file containing my GRUB aliases and functions used while developing GRUB patches and to create this GRUB binary
- documented modules being part of the GR

[2022-08-30 20:02] amzdev0401 opened #280 "AmZetta Technologies, LLC shim-15.6 x64"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
      https://github.com/amzdev0401/shim-review-15.6/blob/AmZetta-shim-x86_64-20220803/README.md
 - [x] shim.efi to be signed
     https://github.com/amzdev0401/shim-review-15.6/blob/AmZetta-shim-x86_64-20220803/shimx64.efi
 - [x] public portion of your certificate(s)

[2022-08-30 20:47] frozencemetery commented on #280
Surely you were also responsible for #211?

[2022-08-31 07:04] rehakp commented on #248
SBAT metadata have just been incorporated into the GRUB image. If anything is incorrect about the metadata itself (including the generation number) please tell how we should proceed.
The grub-extras directory contains the lua module for extending GRUB's scripting capabilities we need for calculating date differences.

[2022-08-31 08:27] parheliamm commented on #260
Hi @tSU-RooT and @frozencemetery:
I submitted a new tag as below:
https://github.com/parheliamm/shim-review/tree/sel-2.0-shim-20220831

Several changes based on review comments:
    1. New cert file with 5 years validity period
    2. sbat info update
    3. New efi files checksum

[code]
Thanks in advance.

Chenxi

[2022-08-31 09:49] steve-mcintyre commented on #248
identification complete

[2022-08-31 10:14] ozun215 commented on #270
We have fixed some bugs and update Readme.md(include SBAT)

New release is https://github.com/ozun215/shim-review-1/tree/gooroom-shim-amd64-20220831-1

new sha256 hash is

cecaac151d3e06a1a70494d4bd66e13dbfa948858af80aaab94719176352f6ec shimx64.efi

Thank you

[2022-08-31 10:46] amzdev0401 commented on #280
Yes, We are waiting for the product release with the secure boot, your quick review would be really helpful to us.

[2022-09-01 08:27] tSU-RooT commented on #266
I've marked vendor_db box. (I misunderstood about case of answer is 'not applied')
We updated repository to fix pointed issues at #264 .

New tag is: https://github.com/miraclelinux/shim-review/tree/miraclelinux-shim-x64-20220901

[2022-09-01 18:16] aronowski commented on #258
Everything is explained in [SBAT.md](https://github.com/rhboot/shim/blob/main/SBAT.md), the document [SBAT.example.md](https://github.com/rhboot/shim/blob/main/SBAT.example.md#along-comes-bug-0) mislead me a bit.

Thank you for pointing out the mistake. We should have given 1 and this number shall not be higher in our case, because we are compatible with Red Hat Enterprise Linux and thus no custom

[2022-09-01 23:27] steve-mcintyre commented on #276
Mails sent for identity verification

[2022-09-01 23:46] steve-mcintyre commented on #276
Looking:
- shim from upstream, no patches
- Includes a Sectigo EV code-signing cert with 3 years left, fine
- shim builds reproduce here (comment below!)
- SBAT data looks fine, mostly (see below!)
- no older shims signed, so no need for revocations
- grub (probably!) looks ok, borrowed from Debian
- kernel sounds ok
- key managed with an HSM, good

A couple of things to look at:
- You're using a

[2022-09-02 00:04] steve-mcintyre commented on #279
contact verifications mails sent

[2022-09-02 00:29] steve-mcintyre commented on #279
Looking:
- shim build reproduces here
- shim builds from the upstream 15.6 tag in git, ok
- Includes a Digicert EV code signing cert, valid to end of 2023. A little short, but ok...
- SBAT data could do with a tweak (see below)
- no old builds to revoke, fine
- grub looks ok, straight from upstream
- your list of grub modules is *tiny* - is that really enough??
- upstream kernel 5.10.65 *might* be

[2022-09-02 00:33] steve-mcintyre commented on #271
@James6xie did you receive the identification emails ok?

[2022-09-02 02:38] James6xie commented on #271
Yes this, i checked my email, as below:

resurrecting deceasing Guy starker coatings freeloaders spewing reliefs Islamism Calvinistic

--
Steve McIntyre, Cambridge, UK.                                steve@einval.com
"I can't ever sleep on planes ... call it irrational if you like, but I'm
 afraid I'll miss my stop" -- Vivek Das Mohapatra

[2022-09-02 09:09] steve-mcintyre commented on #271
contact verification done

[2022-09-02 10:52] malgire commented on #276
gated goddamned Jarvis always peevish psalms Livingston waltzing irresistible universes

[2022-09-02 12:34] coreyvelan commented on #276
Contact verification for Corey Velan: inertial machinist Nebraska spirituous Brahmaputra inspire pilaffs annex administrative streak

[2022-09-02 13:24] coreyvelan commented on #276
Thanks for your review Steve!

We confirmed our contact email addresses above.  Here are the responses to your review:
1. Great point- we'll move to a stable release next time for the docker image.
2. For grub, we are using the latest from bookworm which is 2.06-3 (i.e. the SBAT is right and the readme is wrong). Should I update the readme and move the fixmestick-shim-ia32-x64-2022081 git tag?  Or

[2022-09-02 20:11] joylatten commented on #262
@steve-mcintyre, @frozencemetery ,
I have patched our shim to include our 3 self-signed certificates with the CA bit set to FALSE. This resulted in a new vendor_db.esl as well as a new shim hash which I have edited in the above checklist as well as in the ISSUE_TEMPLATE.md and in the README.md. I also included a sentence in the README.md referencing they are 3 self-signed certs with no CA.
Otherwi

[2022-09-03 06:10] bella485 commented on #271
Thanks a lot .

[2022-09-03 06:16] James6xie commented on #271
Thank you Nagy , my brother.

Yes, I think Circle Linux Project should provide an real organization information, If it is difficult to join or apply for the opensource  foundation, in a short time. @rouzer-zhou

Yes，this indeed the 1st submission.

[2022-09-05 06:50] jsegitz commented on #263
I assume Marcus answered the first two questions.

As for 15.4: There's one place where this was wrong (What patches are being applied and why). The 15.4 in the podman commands etc. refer to our product SLES 15.4. I know that's a bit confusing so I'll change it to 15.6 too, since it doesn't really matter for us

I added the trailing dot, thanks

We can't drop the arguments to podman (apart from th

[2022-09-05 07:46] ncboot commented on #279
hi
1) Updated SBAT entires for shim and grub. Now they use generation 1
Repo with updates https://github.com/ncboot/shim-review tagged as ncomputing-shim-x64-20220905v2
New shim binary hash is 66658ad2cfa33a8b7f960da49731ae6325627630606254d6d08e9b8d02e8dcad
2) We use 5.10 kernel because for now it is fully compatible with our LEAFOS embedded thin clients and it is well proven in a fields by custom

[2022-09-05 14:50] jsegitz opened #281 "Shim 15.6 for SUSE expanded support 8"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-09-06 03:27] kyrie-z opened #282 "Shim 15.6 for Uos"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-09-06 07:17] #245 closed

[2022-09-06 23:54] steve-mcintyre commented on #248
In README.md, you still have upstream SBAT level 1 for the shim and GRUB binaries. Both should be up to 2 if you're following current stuff. Is this just a mistake in your README.md file?

[2022-09-07 00:25] steve-mcintyre commented on #266
Looking:
- shim builds reproduce here
- shim from upstream 15.6, no patches
- self-signed non-CA cert, expires 2027
- SBAT looks (mostly) ok, see below
- revocation story sounds ok
- kernel sounds (mostly) ok, seel below
- HSM for key management
- **still looking at grub stuff**

Issues / things to look at:
- Your shim SBAT data looks fine, but minor issue with the grub SBAT. You don't need to inc

[2022-09-07 00:30] steve-mcintyre commented on #266
contact verification mails sent

[2022-09-07 01:09] tSU-RooT commented on #266
lied field pickers sol diminuendos erected catastrophic Aprils prefabricated alley

[2022-09-07 02:59] tSU-RooT commented on #266
I received a message from secondary contact.
Keywords are:
unbelievable rustled Lippmann scullery moons embroidering recliner advocating supplied marabou

[2022-09-07 06:06] rehakp commented on #248
It is an overall mismatch. Where can I find the current generation numbers? I could not get them from the SBAT documentation nor example file. I will update to 2.

[2022-09-07 09:08] jsegitz opened #283 "Shim 15.6 for openSUSE Tumbleweed"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-09-07 09:10] jsegitz commented on #283
This is very similar to #263 (e.g. the patches in shim). So it might make sens to first review #263 and then this one, as this basically is the same but for openSUSE

[2022-09-07 13:19] tSU-RooT commented on #266
Hmm..., I had thought vendor must increase `component_generation` of own entry when important vulnerabilities are found(and fix), but is it means OK to do not bump number when it is increased by upstream side?

If yes, we must decrease number of `grub.miracle8` to 1?

RHEL based kernels are set `CONFIG_KDB_DEFAULT_ENABLE(kdb_cmd_enabled)` as 0x0(=0=disable) in `kernel-x86_64.config, kernel-x86_64-

[2022-09-07 20:05] joylatten commented on #262
Hi. Any new status?

[2022-09-07 21:26] steve-mcintyre commented on #266
Yes, that's correct.

That's fine. That's what I hoped you'd say, but it's much better to be
explicit here! :-)

[2022-09-07 22:49] steve-mcintyre commented on #266
I'd like to have a look at your grub sources - can you share them please? In your README.md, you list the version but nothing more.

[2022-09-07 22:54] steve-mcintyre commented on #248
If you look in the shim 15.6 source, it includes SBAT level 2.

The latest set of grub security patches from June 2022 are needed to meet grub SBAT level 2; this is less well documented, I'm afraid.

[2022-09-07 23:01] steve-mcintyre commented on #276
Cool.

If you update, please add a new tag and update the issue. It's much
easier for us to follow history that way.

[2022-09-07 23:12] steve-mcintyre commented on #262
Sorry to keep you waiting...
- verified new shim build checksum
- certs look good now, thanks

All done!

[2022-09-07 23:23] steve-mcintyre commented on #279
- new build reproduces fine
- SBAT entries look better, thanks!

all done!

[2022-09-08 00:04] steve-mcintyre commented on #282
Looking:
- x86-64 build reproduces ok
- aarch64 build reproduces ok
- no patches, using 15.6 release
- includes code-signing cert with 3 year life, ok
- SBAT for shim looks fine
- Revocation story sounds ok
- kernel sounds ok
- grub modules list looks ok

Things to look at:
- Happy to see you using Debian as a base for your build, but be very careful about using testing as a base as it's a moving

[2022-09-08 06:33] rehakp commented on #248
OK thanks, If I understand correctly, should I add those security patches to my set? If so, and thus get to the SBAT level 2, where could I find them collected? I found a series of 30 patches but their message says my distro should tell me which of them to implement but gentoo hass not included them so far.

[2022-09-08 08:47] ncboot commented on #279
Contact verification:
For the Shim words that were sent to fpesek@ncomputing.com, here is the decrypted text:

phantoms grackle faithlessness downgraded critiqued bus concubines Kankakee=
 feverish foreswearing

For the Shim words that were sent to rsah@ncomputing.com, here is the decrypted text:

reopening Heywood damaging tiled monosyllabic commonly sprain hasheesh weas=
els muzzles

[2022-09-08 09:30] tSU-RooT commented on #266
OK, We will note more detail next time.

All sources of grub2 are checked-in grub2 dir: https://github.com/miraclelinux/shim-review/tree/miraclelinux-shim-x64-20220803/grub2
`sbat.csv.in` is: https://github.com/miraclelinux/shim-review/blob/miraclelinux-shim-x64-20220803/grub2/sbat.csv.in
Our change log in `grub2.spec` is : https://github.com/miraclelinux/shim-review/blob/miraclelinux-shim-x64-202

[2022-09-08 15:16] coreyvelan commented on #276
OK- we updated the readme to indicate we're using Grub from bookworm rather than bullseye.

The new tag is fixmestick-shim-ia32-x64-20220908. Here is the link: https://github.com/coreyvelan/shim-review/tree/fixmestick-shim-ia32-x64-20220908

The readme was the only change.

[2022-09-08 17:17] joylatten commented on #262
Thanks!

[2022-09-08 22:25] steve-mcintyre commented on #276
Cool, good stuff!

Accepted.

[2022-09-08 22:57] steve-mcintyre commented on #280
Looking:
- shim build reproduces here
- contact verification has already been done in #211
- shim from upstream. no patches
- self-signed cert embedded, expires 2032 (but see below!)
- SBAT handling is broken (see below)
- no previous signed shim, so no revocation to worry about
- question about kernel (see below)
- HSM for key management
- grub needs patches (see below)

Quite a few issues to fix

[2022-09-09 05:59] parheliamm commented on #260
Hi @tSU-RooT and @frozencemetery:

We updated the new version based on your previous comments and suggestion, please review:
[code]

Here are 3 changes:
    1. New cert file with 5 years validity period
    2. Update grub2 cert file and sbat info
    3. Update new efi files checksum

Any comments and suggestion would be appreciated.

Chenxi

[2022-09-09 15:34] #256 closed

[2022-09-09 20:29] rehakp commented on #248
Hope all is OK now. New tag for today's date created with all the rebuilt stuff. Will edit the 1st post.

[2022-09-13 06:30] jaromaz commented on #258
Is there anything else we can help with to speed up the process?

[2022-09-13 08:44] kyrie-z commented on #282
@steve-mcintyre Thanks for the review.

Your suggestion is very useful, we will use it in the future. :D

Grub2 source: https://community-packages.deepin.com/deepin/pool/main/g/grub2/grub2_2.04.25-18.dsc
corresponding CVE patches:
[code]
all patches in the debian/patches/ directory.

We are in the process of migrating to grub 2.06 but are still using 2.04, as it takes time to test.
I have added th

[2022-09-13 18:22] ronnystandtke commented on #275
Thank you for the review. We just received a signed Shim.

[2022-09-13 18:22] #275 closed

[2022-09-13 22:39] amzdev0401 commented on #280
Thank you for the review. I have updated the changes you mentioned. Please review and let us know is any changes needed.

your embedded cert is very basic, I'd expect you to have trouble
with it. You've set none of the options that we'd normally expect to
see. I'd suggest you use openssl x509 to have a look at the
options set on the certs used by other distributors.
	- New openssl certificate has

[2022-09-19 03:23] ozun215 commented on #270
Is there a problem with the current issue? Please let me know if you need any modifications.

[2022-09-22 08:58] #257 closed

[2022-09-23 07:14] #279 closed

[2022-09-23 07:14] ncboot commented on #279
got signed shim from MS

[2022-09-27 05:06] parheliamm commented on #260
Hi @tSU-RooT and @frozencemetery :

Would you please review our new submission?
Any feedback would be appreciated.

Chenxi

[2022-09-28 08:38] jsegitz commented on #263
This seems stuck. Is there something we can do to help this review?

[2022-09-28 08:38] jsegitz commented on #283
This seems stuck. Is there something we can do to help this review?

[2022-09-28 08:39] jsegitz commented on #281
This seems stuck. Is there something we can do to help this review?

[2022-09-30 08:09] tSU-RooT commented on #264
We have received signed shim from Microsoft Hardware Developer Program.
close.

[2022-09-30 08:09] #264 closed

[2022-09-30 11:40] tSU-RooT commented on #260
Hi, sorry for my late response.

- Cert file
[code]
5 years expiry time, I think OK.
- New sha256 checksum
Matched OK.

- Reproducibility from docker(=podman) build
Differences are only 0-allign data.
[code]
- SBAT
[code]
Looks OK.
I confirmed that build shim has above sbat section.

I hope someone authorized reviewer confirms OK to pass.

[2022-09-30 11:50] parheliamm commented on #260
@tSU-RooT :

Thanks for your review and comments.
Unfortunately, We have to update shim binary in coming days because we found a P1 level bug on aarch64 platform which lead to MokManager cannot be launched in some scenarios.
We need to apply patches to binutils to fix that bug which lead to pesign hash data changed on aarch64 platform.
After verification, we will update shim binary later.

Sorry f

[2022-10-04 07:11] ozun215 commented on #270
Hello~

Currently, there is no answer to our thread.

It is true that it took a long time to revise the review we uploaded
because there are many parts to modify. But I think I've improved a lot and
I'm ready for review. Please review it.

Thank you

==============================================================
Gooroom OS Engineer   YoungJun Park
M.P.     :  010-8983-3479      TEL :  02-6335-0707

[2022-10-04 08:05] rehakp commented on #248
Hello, also our tag has been waiting for almost a month to review. We would be grateful for it to be finished to have at least our first Shim signed. Thank you for your time.

[2022-10-06 06:56] MuthuvelKuppusamy opened #284 "Shim 15.6 - shimx64.efi and shimia32.efi for MicroFocus ZENworks"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 - [X] shim.efi to be signed
 - [X] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [X] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
         N/A
 - [X] any extr

[2022-10-06 08:19] jsegitz commented on #263
ping. Anything we can do to help?

[2022-10-06 08:19] jsegitz commented on #283
ping. Anything we can do to help?

[2022-10-06 08:19] jsegitz commented on #281
ping. Anything we can do to help?

[2022-10-07 15:28] christoph-at-unicon commented on #277
Okay, seems there was a mess with the branches. I assume you're seeing commit 8d535c9 from 2020 in the "master" branch - you ought to see commit 2e23e01 in the "main" branch. Should I open a new PR?
As same background, the old one is from the previous review request (#124).

[2022-10-07 18:55] SherifNagy commented on #277
*** Not an official reviewer, so this information might be wrong, but this is what we did and seems like what other vendor do ***
I don't think you should be opening PR against rhboot/shim-review repo, you should clone the repo to your own github, do the edits and upload the needed files if applicable then tag that branch " on your github " and post the tag here in the issue / ticket you open for

[2022-10-12 13:09] parheliamm commented on #260
Hi @tSU-RooT and @frozencemetery:

We updated the new version based on your previous comments and suggestion, please review:
[code]
Changes:
1. Update shim binary because of binutils bug fixes
2. Shim spec update to fix dependency package installation issue.

Any comments and suggestion would be appreciated.

Chenxi

[2022-10-13 10:25] tSU-RooT commented on #260
Hi, I see some points of new commit.

`shim-sel_x86_64.efi`: little change from previous version in binary level, reproducibility is also good, so no problem I think.
`shim-sel_aarch64.efi`: There are a lot of changes, seems to affected from build environment changes(probably binutils update you know)
I will try to check it on aarch64 build.

However, seems to be OK in source level I think.

[2022-10-13 11:55] jsegitz commented on #281
and again. Don't want to be annoying but we need this approved please

[2022-10-14 04:50] tSU-RooT commented on #260
Seem to affected from enhancement `binutils-AArch64-EFI.patch` (that backported from upstream [commit](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;f=bfd/pei-aarch64.c;h=b69c9d41e89498442cb5af5287f378b3583dd445) ) in `binutils-2.37-10.se2`
This patch affects aarch64 EFI(PE) binary build, but looks not problem.

[2022-10-14 05:35] parheliamm commented on #260
binutils-AArch64-EFI.patch is not enough to support AArch64 EFI feature.
Some bug fixes patches need to be backported as well.
The bugs fixes patches as below:
[code]

Chenxi

[2022-10-16 14:00] rouzer-zhou commented on #271
I have fixed this problem, but the label  is still bug, please tell me what I need to do next.

[2022-10-18 13:25] tSU-RooT commented on #281
Hi, I will help.
Disclaimer: **I am not an authorized reviewer**

- What was being reviewed?
[code]

- Reproducibility
Build is reproducible from Rocky Linux 8.6
Package versions are:
[code]

- Content of certificate file

`slesecurebootca.cer` in `shim-unsigned-x64-15.6-1.el8.src.rpm`
[code]
22 years lifetime but this is CA certifiace, looks acceptable.

https://github.com/rhboot/shim/wiki/review

[2022-10-18 23:12] steve-mcintyre commented on #254
@frozencemetery are you going to look at this review again?

[2022-10-19 14:14] jsegitz commented on #281
Thank you for your help. As for the SBAT section: The default and vendor's SBATs get concatenated. Because of that you see that duplication. It's my understanding that this is not harmful

[2022-10-21 15:06] eduardacatrinei opened #285 "shim 15.7 for Certus Software S.R.L."
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-10-25 17:53] AlexBaranowski commented on #258
Hi!

Is there any ETA for review?

[2022-10-26 04:09] MuthuvelKuppusamy commented on #284
Kindly update if anything missing for review.

[2022-10-26 15:37] coreyvelan opened #287 "FixMeStick shim-15.6.1 x64 and ia32"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 - [X] shim.efi to be signed
 - [X] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [X] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [X] any extra patches to

[2022-10-27 15:17] nicholasbishop opened #288 "Shim 15.6 (with LoadOptions patch) for ChromeOS Flex"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-10-28 06:56] jsegitz commented on #263
can someone please reach out to me to discuss when/how this will get reviewed?

[2022-10-28 06:56] jsegitz commented on #283
can someone please reach out to me to discuss when/how this will get reviewed?

[2022-10-28 06:56] jsegitz commented on #281
can someone please reach out to me to discuss when/how this will get reviewed?

[2022-10-28 08:28] LiangJianNSDL opened #289 "NewStartOS V4 shim-15.6 x64 and ia32"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-11-01 15:09] eduardacatrinei commented on #285
Change grub2 version 2.06 (upstream) to 2.06-3 (Debian).
https://github.com/cssrl/shim-review/releases/tag/CertusSoftware-shim-x64-20221101

[2022-11-01 15:13] dpedigo opened #290 "Blancco Shim 15.7 for x64 & ia32"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-11-04 08:50] julian-klode opened #291 "Meta: Requiring a signing transparency log"
(I've discussed this with a couple of people before, I don't know if it's been raised off record by anyone yet, but here we go)

We should know what has been signed, hence vendors should provide a public signing transparency log listing each binary with the following information:

- When it was signed
- The PE hash
- The sources it was built from (e.g. source package versions for linux distros or

[2022-11-04 10:52] hughsie commented on #291
Sigstore?

[2022-11-08 08:54] rehakp commented on #248
Hello all,
another month has passed since my previous comment with no feedback toward us. Is there any issue why our Shim cannot be evaluated and ideally accepted for good? Shall we think our product or our company size is not worth your interest when other projects move forward? We've been around since February with no luck. Those who have helped us so far, @steve-mcintyre, @frozencemetery thank

[2022-11-11 20:25] dpedigo commented on #290
Tagged a new release, we needed to replace the embedded certificate.

[2022-11-14 13:29] THS-on opened #292 "Meta: Signing of out-of-tree kernel modules"
Meta: Signing of out-of-tree kernel modules

We (Lernstick) are shipping some out-of-tree modules mainly for better hardware support. We need to do this because we work in a BYOD scenario where we do not own the hardware.

For this reason using DKMS with a machine owner key (MoK) does not really work, because there is often no way for us to enroll a key. Therefore we ship binary packages with sign

[2022-11-14 15:57] MuthuvelKuppusamy commented on #284
Please let us know is there any other information missing for this review.

[2022-11-16 00:48] parheliamm commented on #260
Hi @frozencemetery:

Would you please review our new submission?

Looking forward your reply and thanks in advance.

Chenxi

[2022-11-16 16:48] rehakp commented on #248
Hello all,
reflecting yesterday's security patches we have prepared a new GRUB 2.06 with necessary patches (the first post updated). Feel free to comment. @steve-mcintyre @frozencemetery or whoever, please look at that if there are still any bugs left. We always strive to resolve them as quickly as possible to not delay on our side.

[2022-11-16 17:01] julian-klode commented on #248
You likely also want to have a 15.7 shim or whatever the version is that bumps the SBAT levels. But it's not ready just yet. But also shouldn't be a blocker per se.

[2022-11-16 18:49] nicholasbishop commented on #288
Closing since shim 15.7 is coming soon.

[2022-11-16 18:49] #288 closed

[2022-11-16 21:15] vathpela opened #293 "rhel-7-shim-20221116"
Confirm the following are included in your repo, checking each box:

 - [X] completed README.md file with the necessary information
 - [X] shim.efi to be signed
 - [X] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [X] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [X] any extra patches to

[2022-11-16 23:48] jsetje commented on #293
- I can reproduce the build (well, once I realized this needs podman)
- The certs looks ok
- fully upstream shim is good
- grub looks fine
- for kernels it would be nice to see a fix for https://access.redhat.com/security/cve/cve-2022-21499

[2022-11-17 17:22] amzdev0401 commented on #280
Hello team, We have been waiting for a long time to get SHIM approval. Can you please expedite the review process?

[2022-11-17 18:01] jsetje commented on #292
Do you currently have a shim with your own cert in it? Or are you redistributing a third party one?

Generally if you have your own shim, the answer to this should be to sign a certmule that brings in certs for the modules you need:

https://github.com/rhboot/shim/pull/446#issuecomment-1029416770

[2022-11-18 10:57] THS-on commented on #292
We have a shim with our own cert in it and also build our own kernels.

Thank you, this looks like a way enroll the certs. If I understand it correctly, the advantage of using certmule for enrolling the certs instead of embedding them into the kernel keyring is that they are enrolled into MoKList and therefore does not require any changes to the kernel. Does it also have other benefits?

[2022-11-18 17:28] rehakp commented on #248
OK, updated Shim to 15.7 along with SBAT of Shim and GRUB

[2022-11-18 17:39] frozencemetery commented on #263
As you may know, shim reviews are a community effort.  The idea is that distros review each other to ensure quality.  You are at this point intimately aware that the number of reviews is exceeding reviewer capacity.  The best way to expedite your own review is to review submissions from other entities to reduce the pile.

Regarding our earlier conversation about building, I'm still not sure I unde

[2022-11-18 18:36] frozencemetery commented on #283
You have named the resultant binary without an architecture.  I don't like this - `shimx64.efi` is the normal name, or if you want opensuse in it, name it like you did in your other submission.  See also comments on the PR review for that.

Since you're only building the one arch, there's no need for the ARCHITECTURE mess in your Dockerfile.  (If you want your three submissions to build using simi

[2022-11-18 18:51] frozencemetery commented on #287
Can you elaborate on what "custom drivers" are here?  Just from reading your description I don't see why there would be anything required here that wouldn't also be in a normal distro.  Are you signing proprietary drivers?

[2022-11-18 18:52] frozencemetery commented on #289
SBAT is either incorrect or you're missing multiple security updates to your grub2.

[2022-11-18 18:59] frozencemetery commented on #271
As far as I can tell, the problems [Sherif indicated](https://github.com/rhboot/shim-review/issues/271#issuecomment-1230545935) still exists.

Moreover, as you're a RHEL rebuild aiming for "bug for bug compatibility", I would like to discuss whether you need to get shim signed at all.  If you can reproduce the unsigned RHEL builds, I think you would be better off shipping RHEL's shim+grub2+kernel,

[2022-11-18 19:04] frozencemetery commented on #277
Your submission still says 15.2 ("HEAD of shim/15.2").  I'm going to close this; if you still need a signed shim, please open a new review based on 15.7.

[2022-11-18 19:04] #277 closed

[2022-11-18 19:07] frozencemetery commented on #285
This doesn't sound like you're doing anything requiring customization of the boot stack.  Could you just reuse the signed shim+grub2+kernel from another distro (in your case, probably Debian's)?

[2022-11-18 19:10] frozencemetery commented on #290
You appear to be using Red Hat's grub2 + shim (which is of course fine).  But I don't see from your submission why you need to rebuild them - could you not just ship Red Hat's signed shim+grub2+kernel directly?

[2022-11-18 19:19] frozencemetery commented on #266
So there's not a lot of information in your submission about what MIRACLE LINUX is, but wikipedia suggests it's an el8 rebuild.  Is that the case?  If so, could you just ship the signed shim+grub2+kernel from RHEL 8?

[2022-11-18 19:42] julian-klode opened #298 "ubuntu-shim-amd64+arm64-20221118 (15.7-0ubuntu1)"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed ) `don't have any`
 - [x] any

[2022-11-18 19:45] eduardacatrinei commented on #285
We can not use a kernel signed from another distro because we require our custom kernel config. In our custom kernel config we enabled drivers for some very old storage controllers that I have not found in other distros that we considered for reusing.

[2022-11-18 19:49] frozencemetery commented on #285
Can you be more specific?  What controllers?

[2022-11-18 20:42] frozencemetery commented on #298
This can optionally use a systemd second stage.

[2022-11-18 20:42] frozencemetery commented on #298
Also, how you build your packages is ultimately to you, but the pages of "install: WARNING: ignoring --strip-program option as -s option was not specified" are a bit much, yeah?

[2022-11-18 20:44] julian-klode commented on #298
Yeah I don't know where the --strip-program comes from exactly, needs more investigation.

We use the tiny systemd-boot stub, which loads its own embedded kernel (it's one signed binary for the whole), not the systemd-boot bootloader.

[2022-11-18 21:07] dpedigo commented on #290
I'd have to compare the Red Hat Kconfig with ours to find all of the differences but end of the day the biggest issue is that we have a variety of custom kernel patches (mainly to storage drivers) to work around a variety of quirks. These have not been upstreamed.

[2022-11-20 15:31] coreyvelan commented on #287
Hi- thanks for the review.  We include proprietary drivers- e.g. proprietary kernel ntfs, hfs+, and aps filesystem drivers.

[2022-11-21 00:45] steve-mcintyre commented on #270
Sorry for leaving you for quite a while - I'm a volunteer and I've been really busy on other work in Debian.

Could you please respond to my issues listed above(5adc7524bbd7774d8711d57037320852bc73af67) , explaining what you've done in each case? I'm looking through your updated shim and shim repos already, but I'd like you to explain things please.

[2022-11-21 10:14] MuthuvelKuppusamy commented on #284
Shim will load our custom second stage efi file, which talks to our server about the work type. Based on work type the linux or winpe minimal distro will be loaded. We support imaging using minimal distro of both Linux and WinPE.

[2022-11-21 10:39] MuthuvelKuppusamy commented on #284
We have one minor custom patch in our shim, which prefers the proxyDhcpOfferReceived over dhcpack for our work flow.

[2022-11-21 16:07] ozun215 commented on #270
Hello~!!
Nice to meet you!!!

We thought a lot about your comment. and discussed so many times then follow things we modified

1. We have changed the contact information of the representative technician, including the introduction of our operating system and the contents of the organization.
2. A storage plan for keys
3. SBAT Related Contents
4. Module list
5. Grub version info
6. Certification ma

[2022-11-21 20:43] nicholasbishop opened #300 "Shim 15.7 for ChromeOS Flex"
Confirm the following are included in your repo, checking each box:

 - [x] completed README.md file with the necessary information
 - [x] shim.efi to be signed
 - [x] public portion of your certificate(s) embedded in shim (the file passed to VENDOR_CERT_FILE)
 - [x] binaries, for which hashes are added to vendor_db ( if you use vendor_db and have hashes allow-listed )
 - [x] any extra patches to

[2022-11-22 13:04] THS-on commented on #300
Disclaimer: I am not a not an authorized reviewer

* Google is a well known vendor
* A signed Shim is needed because ChromeOS Flex uses a custom kernel and is used on off the shelf hardware with Secure Boot enabled
* Last signed Shim for ChromeOS Flex was 15.6
* Security contacts have not changed since the last review
  *  Nicholas Bishop [nicholasbishop@google.com](mailto:nicholasbishop@google.co

[2022-11-25 12:41] jsegitz commented on #263
Thank you for the review.

I'm more than happy to help out with the reviews. I tried to get this going in
https://github.com/rhboot/shim-review/issues/84
but without being able to actually tag submissions as accepted this never went anywhere. Maybe we can create an appointment where bigger stakeholders (e.g. Oracle, SUSE) can discuss how to help out here.

As for cross-arch building: This is there

[2022-11-25 12:41] #263 closed

[2022-11-25 12:59] jsegitz commented on #283
Thank you for your comments. I've renamed the file in my branch based on your comment and updated the tag.

The ARCHITECTURE logic is there because the SUSE shim and openSUSE shim come from the same sources. The Dockerfiles are different, but also based on another. Why do you think that this is a mess? It's a simple variable substitution and should be easy to read. I would prefer to keep it, but i

[2022-11-28 19:30] vathpela commented on #293
fyi this is submission 14337024179215295

[2022-11-29 03:44] MuthuvelKuppusamy commented on #284
Kindly check our previous accepted shim-review submission with custom second stage.
https://github.com/rhboot/shim-review/issues/166
Is any other thing missing for the review?

[2022-11-30 09:39] julian-klode commented on #298
MS submissions:

shimaa64.efi (14614433294396992)
shimx64.efi (13715497686671834)

[2022-11-30 23:33] rouzer-zhou commented on #271
I have added the description of the organization information and website, please review it again.